/** ---reset.css區--- start **/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
	body {line-height:1;}
	ol, ul {list-style:none;}
	blockquote, q {quotes:none;}
	blockquote:before, blockquote:after,
	q:before, q:after {content:''; content:none;}
	table {border-collapse:collapse; border-spacing:0;}
/** ---reset.css區--- end **/

/** ---共用css區--- start **/
	html, body{
		font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
		/**   多國語言版   font-family:"Helvetica Neue",Helvetica,Arial,"微軟正黑體","微软雅黑","メイリオ","맑은 고딕",sans-serif;**/
		width:100%;
		min-width:320px;
		/*min-height:100%;*/
		background-size:cover;
		background:#181818;
	}
	article{
		width:100%;
		min-width:320px;
		height:100%;
		background-size:cover;
	}
	article #content{
		margin:60px auto 0px auto;
		width:100%;
		max-width:1000px;/*max-width:1200px;*/
		min-width:320px;
	}
	article #content.national{ margin:0 auto;}
	article #content section{width:100%;}
	@font-face{
		font-family:SOSA;
		src:url('../font/sosa-regular-webfont.eot') format('eot'), url('../font/sosa-regular-webfont.woff') format('woff'), url('../font/sosa-regular-webfont.ttf') format('truetype');
	}
	@font-face{
		font-family:RAPH;
		src:url(../font/raphaelicons-webfont.ttf);
	}
	textarea, select, button, a{outline:none;}
	button{/*超連不能選取 */
		-webkit-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none;user-select:none;
	}
	a, a.LoginBtn{
		display:block;
		text-decoration:none;
	}
	.clearfix:before, .clearfix:after{
		content:"";
		display:table;
	}
	.clearfix:after{ clear:both;}
	.disabled{ cursor:not-allowed;}
/** ---共用css區--- end **/

/** 一、桌機版型區 **/
/*@media screen and (min-width:1025px) {*/
/**		1-1.登入畫面彈跳、下拉視窗區 start**/
	#popup{
		position:fixed;
		top:0;
		z-index:100;
		width:100%;
		height:100%;
		-webkit-background-color:rgba(0,0,0,0.8);
		-moz-background-color:rgba(0,0,0,0.8);
		-ms-background-color:rgba(0,0,0,0.8);
		-o-background-color:rgba(0,0,0,0.8);
		background-color:rgba(0,0,0,0.8);
		overflow:auto;
		display:none;
	}
	#popup-box{
		width:400px;
		height:586px;
		background:rgba(0,20,50,0.8);
		border:2px solid #00377d;
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
		-ms-border-radius:15px;
		-o-border-radius:15px;
		border-radius:15px;
		position:absolute;
		left:50%;
		top:50%;
		margin:-293px 0 0 -200px;
		-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.9), 0 3px 12px rgba(0,0,0,0.9);
		-moz-box-shadow:0 2px 8px rgba(0,0,0,0.9), 0 3px 12px rgba(0,0,0,0.9);
		-ms-box-shadow:0 2px 8px rgba(0,0,0,0.9), 0 3px 12px rgba(0,0,0,0.9);
		-o-box-shadow:0 2px 8px rgba(0,0,0,0.9), 0 3px 12px rgba(0,0,0,0.9);
		box-shadow:0 2px 8px rgba(0,0,0,0.9), 0 3px 12px rgba(0,0,0,0.9);
	}
	#popup-box:before{
		content:"";
		width:402px;
		height:57px;
		position:absolute;
		top:-29px;
		left:50%;
		margin-left:-201px;
		pointer-events:none;
		background:url(../images/signup_light.png);
		background-size:402px 57px;
	}
	#popup-box-close{
		width:30PX;
		height:30PX;
		-webkit-background:rgba(0,20,50,0);
		-moz-background:rgba(0,20,50,0);
		-ms-background:rgba(0,20,50,0);
		-o-background:rgba(0,20,50,0);
		background:rgba(0,20,50,0);
		font-size:21px;
		font-family:SOSA;
		color:#003f8c;
		line-height:30px;
		text-align:center;
		border:2px solid #003f8c;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-ms-border-radius:50%;
		-o-border-radius:50%;
		border-radius:50%;
		position:absolute;
		top:8px;
		right:10px;
		cursor:pointer;
		-webkit-transition:all 1s ease-out;
		-moz-transition:all 1s ease-out;
		-ms-transition:all 1s ease-out;
		-o-transition:all 1s ease-out;
		transition:all 1s ease-out;
	}
	#popup-box-close:hover{
		-webkit-background:rgba(0,20,50,1);
		-moz-background:rgba(0,20,50,1);
		-ms-background:rgba(0,20,50,1);
		-o-background:rgba(0,20,50,1);
		background:rgba(0,20,50,1);
		color:#bfdcff;
		border:2px solid #bfdcff;
	}
	#popup-box h3{
		width:300px;
		height:20px;
		margin:15px auto 0;
		padding-top:28px;
		background:url(../images/signup_BS_logo.png);
		background-repeat:no-repeat;
		text-indent:-9999px;
	}
	.userLogin{	padding:0px 50px 16px 50px;}
	#socialLogin{ padding:15px 50px 0px 50px;}
	#socialLogin{ border-bottom:2px solid #00377d;}
	.loginBtn, .signIn{
		width:100%;
		height:48px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-ms-border-radius:10px;
		-o-border-radius:10px;
		border-radius:10px;
		margin-bottom:16px;
		border:none;
		color:#fff;
		position:relative;
		cursor:pointer;
	}
	#socialLogin em{
		position:absolute;
		top:5px;
		left:8px;
		width:38px;
		height:38px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-ms-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;
		font-family:SOSA;
		line-height:38px;
		font-size:28px;
		text-align:center;
		text-shadow:0 2px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow:0 0 6px rgba(0,0,0,0.8) inset;
		-moz-box-shadow:0 0 6px rgba(0,0,0,0.8) inset;
		-ms-box-shadow:0 0 6px rgba(0,0,0,0.8) inset;
		-o-box-shadow:0 0 6px rgba(0,0,0,0.8) inset;
		box-shadow:0 0 6px rgba(0,0,0,0.8) inset;
	}
	#socialLogin .buttonText{
		display:block;
		font:22px/46px "微軟正黑體", Arial, sans-serif;
		text-shadow:0 0 2px rgba(255,255,255,1), 0 2px 3px rgba(0,0,0,0.9);
		letter-spacing:1px;
		text-align:left;
		padding-left:80px;
		margin-top:-2px;
		cursor:pointer;
	}
	.loginBtn:hover{
		-webkit-box-shadow:0 3px rgba(0,0,0,0.75), 0 0 2px 1px rgba(0,0,0,0.4) inset;
		-moz-box-shadow:0 3px rgba(0,0,0,0.75), 0 0 2px 1px rgba(0,0,0,0.4) inset;
		-ms-box-shadow:0 3px rgba(0,0,0,0.75), 0 0 2px 1px rgba(0,0,0,0.4) inset;
		-o-box-shadow:0 3px rgba(0,0,0,0.75), 0 0 2px 1px rgba(0,0,0,0.4) inset;
		box-shadow:0 3px rgba(0,0,0,0.75), 0 0 2px 1px rgba(0,0,0,0.4) inset;
		top:1px;
	}
	.facebookBtn {
		background:-moz-linear-gradient(top,  rgba(100,157,251,1) 0%, rgba(71,106,176,1) 50%, rgba(34,50,90,1) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,157,251,1)), color-stop(50%,rgba(71,106,176,1)), color-stop(100%,rgba(34,50,90,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* W3C */
		-webkit-box-shadow:0px 2px rgba(167,204,255,0.3) inset, 0 0 2px 1px rgba(200,241,255,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-moz-box-shadow:0px 2px rgba(167,204,255,0.3) inset, 0 0 2px 1px rgba(200,241,255,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-ms-box-shadow:0px 2px rgba(167,204,255,0.3) inset, 0 0 2px 1px rgba(200,241,255,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-o-box-shadow:0px 2px rgba(167,204,255,0.3) inset, 0 0 2px 1px rgba(200,241,255,0.2) inset, 0 4px rgba(0,0,0,0.75);
		box-shadow:0px 2px rgba(167,204,255,0.3) inset, 0 0 2px 1px rgba(200,241,255,0.2) inset, 0 4px rgba(0,0,0,0.75);
	}
	#socialLogin .facebookBtn em{background:#3b589c;}
	.googleBtn{
		background:-moz-linear-gradient(top,  rgba(251,71,71,1) 0%, rgba(174,44,44,1) 50%, rgba(85,22,22,1) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,71,71,1)), color-stop(50%,rgba(174,44,44,1)), color-stop(100%,rgba(85,22,22,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* W3C */
		-webkit-box-shadow:0px 2px rgba(255,167,167,0.3) inset, 0 0 2px 1px rgba(255,200,200,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-moz-box-shadow:0px 2px rgba(255,167,167,0.3) inset, 0 0 2px 1px rgba(255,200,200,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-ms-box-shadow:0px 2px rgba(255,167,167,0.3) inset, 0 0 2px 1px rgba(255,200,200,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-o-box-shadow:0px 2px rgba(255,167,167,0.3) inset, 0 0 2px 1px rgba(255,200,200,0.2) inset, 0 4px rgba(0,0,0,0.75);
		box-shadow:0px 2px rgba(255,167,167,0.3) inset, 0 0 2px 1px rgba(255,200,200,0.2) inset, 0 4px rgba(0,0,0,0.75);
	}
	#socialLogin .googleBtn em{background:#9a2525;}
	.twitterBtn{
		background:-moz-linear-gradient(top,  rgba(109,223,253,1) 0%, rgba(36,161,188,1) 50%, rgba(16,77,96,1) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,223,253,1)), color-stop(50%,rgba(36,161,188,1)), color-stop(100%,rgba(16,77,96,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* W3C */
		-webkit-box-shadow:0px 2px rgba(200,234,255,0.5) inset, 0 0 2px 1px rgba(159,221,250,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-moz-box-shadow:0px 2px rgba(200,234,255,0.5) inset, 0 0 2px 1px rgba(159,221,250,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-ms-box-shadow:0px 2px rgba(200,234,255,0.5) inset, 0 0 2px 1px rgba(159,221,250,0.2) inset, 0 4px rgba(0,0,0,0.75);
		-o-box-shadow:0px 2px rgba(200,234,255,0.5) inset, 0 0 2px 1px rgba(159,221,250,0.2) inset, 0 4px rgba(0,0,0,0.75);
		box-shadow:0px 2px rgba(200,234,255,0.5) inset, 0 0 2px 1px rgba(159,221,250,0.2) inset, 0 4px rgba(0,0,0,0.75);
	}
	#socialLogin .twitterBtn em{background:#2ab5df;}
	.LoginBtn{
		background:-moz-linear-gradient(top,  rgba(255,127,0,1) 0%, rgba(255,78,0,1) 80%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,127,0,1)), color-stop(80%,rgba(255,78,0,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(255,127,0,1) 0%,rgba(255,78,0,1) 80%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(255,127,0,1) 0%,rgba(255,78,0,1) 80%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(255,127,0,1) 0%,rgba(255,78,0,1) 80%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(255,127,0,1) 0%,rgba(255,78,0,1) 80%); /* W3C */
		-webkit-box-shadow:0px 2px rgba(245,174,32,0.65) inset, 0 0 2px 1px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.75);
		-moz-box-shadow:0px 2px rgba(245,174,32,0.65) inset, 0 0 2px 1px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.75);
		-ms-box-shadow:0px 2px rgba(245,174,32,0.65) inset, 0 0 2px 1px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.75);
		-o-box-shadow:0px 2px rgba(245,174,32,0.65) inset, 0 0 2px 1px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.75);
		box-shadow:0px 2px rgba(245,174,32,0.65) inset, 0 0 2px 1px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.75);
	}
	#socialLogin .LoginBtn em{background:rgba(143,38,0,0.36);}
	#socialLogin .LoginBtn a{color:#fff;}
	ul.userLogin li label{
		-webkit-color:rgba(0,20,50,0.9);
		-moz-color:rgba(0,20,50,0.9);
		-ms-color:rgba(0,20,50,0.9);
		-o-color:rgba(0,20,50,0.9);
		color:rgba(0,20,50,0.9);
		font-size:16px;
		line-height:1;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
		user-select:none;
	}
	#popup-box .text{
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		-ms-border-radius:6px;
		-o-border-radius:6px;
		border-radius:6px;
		padding:5px 10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-o-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,0.3) inset, 0 0 6px 1px rgba(0,0,0,0.5);
		-moz-box-shadow:0 0 5px 1px rgba(0,0,0,0.3) inset, 0 0 6px 1px rgba(0,0,0,0.5);
		-ms-box-shadow:0 0 5px 1px rgba(0,0,0,0.3) inset, 0 0 6px 1px rgba(0,0,0,0.5);
		-o-box-shadow:0 0 5px 1px rgba(0,0,0,0.3) inset, 0 0 6px 1px rgba(0,0,0,0.5);
		box-shadow:0 0 5px 1px rgba(0,0,0,0.3) inset, 0 0 6px 1px rgba(0,0,0,0.5);
		border:1px solid #b3b3b3;
		background:#fff;
		color:#333;
		font:18px/24px "微軟正黑體", Arial, sans-serif;
		text-shadow:0 0 1px #999;
	}
	input:focus, button:focus{outline:none;}
	#loginError{
		color:#eeeeee;
		background-color:#ca0b0b;
		/*display:none;*/
		padding:5px;
		font-weight:bold;
		letter-spacing:2px;
		line-height:1.25;
		margin:0px 50px 23px;
		border-radius:3px;
	}
	.formFooter{ padding:0 50px;}
	.signIn{
		float:right;
		width:120px;
		height:50px;
		font:28px/50px "微軟正黑體", Arial, sans-serif;
		font-weight:bold;
		text-shadow:0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600;
		letter-spacing:1px;
		text-align:center;
		background:-moz-linear-gradient(top,  rgba(255,127,0,1) 1%, rgba(255,78,0,1) 80%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,127,0,1)), color-stop(80%,rgba(255,78,0,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* W3C */
		-webkit-box-shadow:3px 3px 6px 0px rgba(245,174,32,1) inset, 3px 3px 0px rgba(143,38,0,1) inset,-3px -3px 0px rgba(143,38,0,1) inset, -3px 3px 0px rgba(143,38,0,1) inset, 3px -3px 0px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.5);
		-moz-box-shadow:3px 3px 6px 0px rgba(245,174,32,1) inset, 3px 3px 0px rgba(143,38,0,1) inset,-3px -3px 0px rgba(143,38,0,1) inset, -3px 3px 0px rgba(143,38,0,1) inset, 3px -3px 0px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.5);
		-ms-box-shadow:3px 3px 6px 0px rgba(245,174,32,1) inset, 3px 3px 0px rgba(143,38,0,1) inset,-3px -3px 0px rgba(143,38,0,1) inset, -3px 3px 0px rgba(143,38,0,1) inset, 3px -3px 0px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.5);
		-o-box-shadow:3px 3px 6px 0px rgba(245,174,32,1) inset, 3px 3px 0px rgba(143,38,0,1) inset,-3px -3px 0px rgba(143,38,0,1) inset, -3px 3px 0px rgba(143,38,0,1) inset, 3px -3px 0px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.5);
		box-shadow:3px 3px 6px 0px rgba(245,174,32,1) inset, 3px 3px 0px rgba(143,38,0,1) inset,-3px -3px 0px rgba(143,38,0,1) inset, -3px 3px 0px rgba(143,38,0,1) inset, 3px -3px 0px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.5);
		margin-top:-8px;
	}
	.formFooter .forgotPassword { margin-top:13px;}
	.formFooter .forgotPassword a{
		color:#fff;
		font-size:18px;
		line-height:34px;
		text-shadow:0 0 1px rgba(255,255,255,1), 0 2px 2px rgba(0,0,0,0.75);
	}
	.formFooter .forgotPassword a:before{
		content:"!";
		float:left;
		font:34px/34px "RAPH";
		color:#fff;
		width:32px;
		height:34px;
	}
	.formFooter .forgotPassword:hover a, .formFooter .forgotPassword:hover a:before{ color:#9bc9ff;}
/**		1-1.登入畫面彈跳、下拉視窗區 end **/

/**		1-2.aside側邊欄 #goTop區 strat**/
	#goTop {
		color:rgba(0,0,0,.6);
		font-size:56px;
	    font-family:RAPH;
	    line-height:1;
	    padding:0;
	    margin:0;
	    position:fixed;
	    right:25px;
	    bottom:42px;
	    -moz-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
	    transform:rotate(90deg);
	    cursor:pointer;
	    display:none;
	    z-index:100;
	}
/**		1-2.aside側邊欄 #goTop區 end**/

/*		2-1.頁首選單區 start*/
	header{
		width:100%;
		height:60px;
		position:fixed;
		top:0;
		background:-moz-linear-gradient(top,  #000815 0%, #001131 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#000815), color-stop(100%,#001131)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  #000815 0%,#001131 100%);
		background:-o-linear-gradient(top,  #000815 0%,#001131 100%);
		background:-ms-linear-gradient(top,  #000815 0%,#001131 100%);
		background:linear-gradient(to bottom,  #000815 0%,#001131 100%);
		border-bottom:1px solid #e6f4ff;
		-webkit-box-shadow:0px 4px 4px #2f6bec, 0px 12px 12px rgba(47,109,236,0.4), 0px 24px 24px rgba(14,119,254,0.3), inset 0px -4px 4px #2f6bec;
		-moz-box-shadow:0px 4px 4px #2f6bec, 0px 12px 12px rgba(47,109,236,0.4), 0px 24px 24px rgba(14,119,254,0.3), inset 0px -4px 4px #2f6bec;
		-ms-box-shadow:0px 4px 4px #2f6bec, 0px 12px 12px rgba(47,109,236,0.4), 0px 24px 24px rgba(14,119,254,0.3), inset 0px -4px 4px #2f6bec;
		-o-box-shadow:0px 4px 4px #2f6bec, 0px 12px 12px rgba(47,109,236,0.4), 0px 24px 24px rgba(14,119,254,0.3), inset 0px -4px 4px #2f6bec;
		box-shadow:0px 4px 4px #2f6bec, inset 0px -4px 4px #2f6bec;
		z-index:99;
	}
	body.index header{
		box-shadow:0px 4px 4px #2f6bec, 0px 12px 12px rgba(47,109,236,0.4), 0px 24px 24px rgba(14,119,254,0.3), inset 0px -4px 4px #2f6bec;
	}
	hgroup{
		max-width:1200px;
		width:100%;
		height:60px;
		margin:0 auto;
	}
	#logo{float:left;}
	#logo a{
		width:260px;
		height:40px;
		text-indent:-9999px;
		background-image:url(../images/BrainSport.png);
		margin:10px 0 0 0;
	}
	hgroup nav{
		float:right;
		height:60px;
		font-size:0;
	}
	nav .first, nav .second{display:inline-block;}
	.first li, .second li{
		display:inline-block;
		border-left:1px solid #000;
		vertical-align:top;
		-webkit-box-shadow:-1px 0 2px #001a52,inset 1px 0 2px #001a52;
		-moz-box-shadow:-1px 0 2px #001a52,inset 1px 0 2px #001a52;
		-ms-box-shadow:-1px 0 2px #001a52,inset 1px 0 2px #001a52;
		-o-box-shadow:-1px 0 2px #001a52,inset 1px 0 2px #001a52;
		box-shadow:-1px 0 2px #001a52,inset 1px 0 2px #001a52;
	}
	.first li.menu_icon{display:none;}
	.first li a, .second li a, .second li p{
		font-size:18px;
		text-align:center;
		color:#FFF;
		line-height:20px;
		position:relative;
		padding: 18px 22px;
	}
	.first a.store{
		overflow:hidden;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	}
	a.store>ins{
		position:absolute;
	    top:0;
	    left:0;
	    bottom:0;
	    right:0;
	    margin:auto;
	    width:76px;
	    height:76px;
	    background:#008dd7;
	    border-radius:50%;
	    opacity:0;
	    -webkit-animation:ball-scale-multiple 1.5s linear infinite;
	       -moz-animation:ball-scale-multiple 1.5s linear infinite;
	         -o-animation:ball-scale-multiple 1.5s linear infinite;
	            animation:ball-scale-multiple 1.5s linear infinite;
	    z-index:-1;
	}
	a.store>ins:nth-of-type(2){
		-webkit-animation-delay:.3s;
	       -moz-animation-delay:.3s;
	         -o-animation-delay:.3s;
	            animation-delay:.3s;
	}
	a.store>ins:nth-of-type(3){
		-webkit-animation-delay:.6s;
	       -moz-animation-delay:.6s;
	         -o-animation-delay:.6s;
	            animation-delay:.6s;
	}
	@-webkit-keyframes ball-scale-multiple {
	    0% {
	        opacity:.25;
	        -webkit-transform:scale(0);
	                transform:scale(0);
	    }
	    5% {opacity:1;}
	    100% {
	        opacity:.25;
	        -webkit-transform:scale(1);
	                transform:scale(1);
	    }
	}
	@-moz-keyframes ball-scale-multiple {
	    0% {
	        opacity:.25;
	           -moz-transform:scale(0);
	                transform:scale(0);
	    }
	    5% {opacity:1;}
	    100% {
	        opacity:.25;
	           -moz-transform:scale(1);
	                transform:scale(1);
	    }
	}
	@-o-keyframes ball-scale-multiple {
	    0% {
	        opacity:.25;
	        -o-transform:scale(0);
	           transform:scale(0);
	    }
	    5% {opacity:1;}
	    100% {
	        opacity:.25;
	        -o-transform:scale(1);
	           transform:scale(1);
	    }
	}
	@keyframes ball-scale-multiple {
	    0% {
	        opacity:.25;
	        -webkit-transform:scale(0);
	           -moz-transform:scale(0);
	             -o-transform:scale(0);
	                transform:scale(0);
	    }
	    5% {opacity:1;}
	    100% {
	        opacity:.25;
	        -webkit-transform:scale(1);
	           -moz-transform:scale(1);
	             -o-transform:scale(1);
	                transform:scale(1);
	    }
	}
	.first a.store:hover ins{
		-webkit-animation-name:none;
		   -moz-animation-name:none;
			 -o-animation-name:none;
				animation-name:none;
	}
	.second li.language{position:relative;}
	.second li:last-child{
		border-right:1px solid #000;
		-webkit-box-shadow:1px 0 2px #001a52,inset -1px 0 2px #001a52,inset 1px 0 2px #001a52;
		-moz-box-shadow:1px 0 2px #001a52,inset -1px 0 2px #001a52,inset 1px 0 2px #001a52;
		-ms-box-shadow:1px 0 2px #001a52,inset -1px 0 2px #001a52,inset 1px 0 2px #001a52;
		-o-box-shadow:1px 0 2px #001a52,inset -1px 0 2px #001a52,inset 1px 0 2px #001a52;
		box-shadow:1px 0 2px #001a52,inset -1px 0 2px #001a52,inset 1px 0 2px #001a52;
	}
	.second li p{color:#00c4f5;} 
	.second li p:before{
		content:"歡迎";
		padding-right:12px;
	}    
	.second li a.icon{
		width:70px;
		height: 54px;
    	padding: 0;
	}
	.second li a.icon:before{
		position:absolute;
		top:8px;
		left:15px;
		content:"";
		background-image:url(../images/header_icon.png);
		width:40px;
		height:40px;
	}
	.second li a.fb:before{background-position:-50px 0;}
	.second li a.line:before{background-position:-300px 0;}
	.second li a.tw:before{background-position:-700px 0;}
	.second li a.us:before{background-position:-750px 0;}
	.second li a.ko:before{background-position:-200px 0;}
	.second li a.jp:before{background-position:-150px 0;}
	.first li a:hover, .second li a:hover,hgroup li a.now{
		text-shadow:none;
		background:-moz-linear-gradient(top,  rgba(66,122,252,1) 0%, rgba(66,122,252,0) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,122,252,1)), color-stop(100%,rgba(66,122,252,0))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* W3C */
	}
	.second ul{
		position:absolute;
		top:61px;
		display:none;
	}
	.second ul li{
		float:none;
		box-shadow:none;
		border:none;
	}
	.second ul li:last-child{display:none;}
	.second ul a.icon{
		font-size:14px;
		text-align:left;
		width:120px;
		height:51px;
		line-height:51px;
		text-indent:50px;
		-webkit-background:rgba(66,122,252,0.6);
		-moz-background:rgba(66,122,252,0.6);
		-ms-background:rgba(66,122,252,0.6);
		-o-background:rgba(66,122,252,0.6);
		background:rgba(66,122,252,0.6);
		-webkit-transition:all 1s ease-out;
		-moz-transition:all 1s ease-out;
		-ms-transition:all 1s ease-out;
		-o-transition:all 1s ease-out;
		transition:all 1s ease-out;
	}
	.second ul a.icon:before{
		background-size:531px 25px;
		top:13px;
		left:15px;
		width:25px;
		height:25px;
	}
	.second ul a.us:before{background-position:-468px 0;}
	.second ul a.jp:before{background-position:-93px 0;}
	.second ul a.ko:before{background-position:-125px 0;}
	.second ul a.cn:before{background-position:0 0;}
	.second ul a.tw:before{background-position:-437px 0;}
	.second ul a:hover{
		-webkit-background:rgba(66,122,252,1);
		-moz-background:rgba(66,122,252,1);
		-ms-background:rgba(66,122,252,1);
		-o-background:rgba(66,122,252,1);
		background:rgba(66,122,252,1);
	}
	.second #language{
		text-indent:100%;
		overflow:hidden;
		white-space:nowrap;
	}
/*		2-1.頁首選單區 end*/

/*		2-2.頁尾區 start*/
	footer{
		/*clear:both;*/
		width:100%;
		height:40px;
		background:#181818;
		color:#FFF;
		border-top:1px solid #e6f4ff;
		-webkit-box-shadow:0px -4px 4px #2f6bec, inset 0px 4px 4px #2f6bec;
		-moz-box-shadow:0px -4px 4px #2f6bec, inset 0px 4px 4px #2f6bec;
		-ms-box-shadow:0px -4px 4px #2f6bec, inset 0px 4px 4px #2f6bec;
		-o-box-shadow:0px -4px 4px #2f6bec, inset 0px 4px 4px #2f6bec;
		box-shadow:0px -4px 4px #2f6bec, inset 0px 4px 4px #2f6bec;
	}
	footer:before{
		content:"";
		display:block;
		width:40px;
		height:40px;
		position:absolute;
		background:#fff url(../images/rating_15.jpg);
		background-size:40px 40px;
	}
	body.index  footer{
		position:fixed;
		bottom:0;
		z-index:98;
	}
	#footer_content{
		max-width:1200px;
		width:100%;
		margin:0 auto;
	}
	footer ul{
		float:left;
		height:20px;
		margin:10px 0 10px 40px;
	}
	footer li{
		height:20px;
		float:left;
		border-right:1px solid #FFF;
	}
	footer li:last-child{border-right:none;}
	footer li a{
		font-size:14px;
		line-height:20px;
		color:#FFF;
		padding:0 15px;
		-webkit-transition:all .6s;
		-moz-transition:all .6s;
		-ms-transition:all .6s;
		-o-transition:all .6s;
		transition:all .6s;
	}
	footer li a:hover{color:#f29200;}
	footer p{
		font-size:12px;
		line-height:40px;
		letter-spacing:2px;
		text-align:right;
		color:#fff;
		z-index:99;
	}
/*		2-2.頁尾區 end*/

/** 二、手機版型區 **/
@media screen and (max-width:767px) {
/**		0.手機版型共用css區 start**/
	button, a{	/* 點選透明 */
		-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(0,0,0,0);-ms-tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);
		user-select:none;	/*標題H1還超連不能選取 */
	}
	html, body{
		-webkit-text-size-adjust:none; /* 在 iOS 旋轉畫面鎖定文字不縮放 */
		overflow:auto;	/**iPhone回復圈軸**/
		-webkit-overflow-scrolling:touch;
	}
	article #content{
		width:96%;
		margin:48px auto 0px auto;
	}
/**		0.手機版型共用css區 end**/

/**		1-1.登入畫面彈跳、下拉視窗區 strat**/
	#popup{
		position:static;
		z-index:99;
		width:100%;
		height:505px;
		background-color:rgba(0,0,0,0.8);
		margin-top:50px;
		padding:8px 5px 5px 5px;
		display:none;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	#popup-box{
		width:100%;
		height:480px;
		background:rgba(0,20,50,0.8);
		border:none;
		border-radius:10px;
		position:static;
		margin:0px auto;
		box-shadow:0 2px 8px rgba(0,0,0,0.9), 0 3px 12px rgba(0,0,0,0.9);
	}
	#popup-box-close, #popup-box:before{ display:none;}
	#popup-box h3{
		width:auto;
		height:5px;
		margin:0px;
		padding:0px;
		background:url();
	}
	.userLogin{	padding:0px 10px;}
	#socialLogin{
		padding:12px 10px 0px 10px;
		border:none;
	}
	.loginBtn, .signIn{
		width:100%;
		height:42px;
		border-radius:10px;
		margin-bottom:15px;
		border:none;
		color:#fff;
		position:relative;
		cursor:pointer;
	}
	#socialLogin em{
		position:absolute;
		top:5px;
		left:8px;
		width:32px;
		height:32px;
		border-radius:5px;
		font-family:SOSA;
		line-height:32px;
		font-size:22px;
		text-align:center;
		text-shadow:0 2px 3px rgba(0,0,0,0.5);
		box-shadow:0 0 6px rgba(0,0,0,0.8) inset;
	}
	#socialLogin .buttonText{
		display:block;
		font:21px/40px "微軟正黑體", Arial, sans-serif;
		text-shadow:0 0 2px rgba(255,255,255,1), 0 2px 3px rgba(0,0,0,0.9);
		letter-spacing:1px;
		text-align:left;
		padding-left:55px;
		cursor:pointer;
	}
	.loginBtn:hover{
		box-shadow:0 3px rgba(0,0,0,0.75), 0 0 2px 1px rgba(0,0,0,0.4) inset;
		top:1px;
	}
	.facebookBtn {
		background:-moz-linear-gradient(top,  rgba(100,157,251,1) 0%, rgba(71,106,176,1) 50%, rgba(34,50,90,1) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,157,251,1)), color-stop(50%,rgba(71,106,176,1)), color-stop(100%,rgba(34,50,90,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(100,157,251,1) 0%,rgba(71,106,176,1) 50%,rgba(34,50,90,1) 100%); /* W3C */
		box-shadow:0px 2px rgba(167,204,255,0.3) inset, 0 0 2px 1px rgba(200,241,255,0.2) inset, 0 4px rgba(0,0,0,0.75);
	}
	#socialLogin .facebookBtn em{background:#3b589c;}
	.googleBtn{
		background:-moz-linear-gradient(top,  rgba(251,71,71,1) 0%, rgba(174,44,44,1) 50%, rgba(85,22,22,1) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,71,71,1)), color-stop(50%,rgba(174,44,44,1)), color-stop(100%,rgba(85,22,22,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(251,71,71,1) 0%,rgba(174,44,44,1) 50%,rgba(85,22,22,1) 100%); /* W3C */
		box-shadow:0px 2px rgba(255,167,167,0.3) inset, 0 0 2px 1px rgba(255,200,200,0.2) inset, 0 4px rgba(0,0,0,0.75);
	}
	#socialLogin .googleBtn em{background:#9a2525;}
	.twitterBtn{
		background:-moz-linear-gradient(top,  rgba(109,223,253,1) 0%, rgba(36,161,188,1) 50%, rgba(16,77,96,1) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,223,253,1)), color-stop(50%,rgba(36,161,188,1)), color-stop(100%,rgba(16,77,96,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(109,223,253,1) 0%,rgba(36,161,188,1) 50%,rgba(16,77,96,1) 100%); /* W3C */
		box-shadow:0px 2px rgba(200,234,255,0.5) inset, 0 0 2px 1px rgba(159,221,250,0.2) inset, 0 4px rgba(0,0,0,0.75);
	}
	#socialLogin .twitterBtn em{background:#2ab5df;}
	ul.userLogin li label{
		color:rgba(0,20,50,0.9);
		font-size:20px;
		line-height:1;
		display:none;
	}
	.loginPassword{margin:15px 0;}
	#popup-box .text{
		border-radius:6px;
		padding:6px 10px;
		box-sizing:border-box;
		width:100%;
		box-shadow:0 0 5px 1px rgba(0,0,0,0.3) inset, 0 0 6px 1px rgba(0,0,0,0.5);
		border:1px solid #b3b3b3;
		background:#fff;
		color:#333;
		font:18px/24px "微軟正黑體", Arial, sans-serif;
		text-shadow:0 0 1px #999;	
	}
	input:focus, button:focus{outline:none;}

	#loginError{
		color:#eeeeee;
		margin:0 10px;
		background-color:#ca0b0b;
		padding:10px;
		font-weight:bold;
		letter-spacing:1px;
		border-radius:3px;
	}

	.formFooter{ padding:0px 10px;}
	.signIn{
		float:right;
		width:120px;
		height:45px;
		font:21px/45px "微軟正黑體", Arial, sans-serif;
		font-weight:normal;
		text-shadow:0px 0px 1px #fff, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600, 0px 0px 6px #8f2600;
		letter-spacing:2px;
		text-align:center;
		background:-moz-linear-gradient(top,  rgba(255,127,0,1) 1%, rgba(255,78,0,1) 80%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,127,0,1)), color-stop(80%,rgba(255,78,0,1))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(255,127,0,1) 1%,rgba(255,78,0,1) 80%); /* W3C */
		box-shadow:3px 3px 6px 0px rgba(245,174,32,1) inset, 3px 3px 0px rgba(143,38,0,1) inset,-3px -3px 0px rgba(143,38,0,1) inset, -3px 3px 0px rgba(143,38,0,1) inset, 3px -3px 0px rgba(143,38,0,1) inset, 0 4px rgba(0,0,0,0.5);
		margin :8px 0 0 0;
	}
	.signIn{
		height:46px;
		margin-top:-8px;
	}
	.formFooter .forgotPassword { margin-top:23px;}
	.formFooter .forgotPassword a{
		padding-left:0px;
		color:#fff;
		font-size:16px;
		line-height:30px;
		text-shadow:0 0 1px rgba(255,255,255,1), 0 2px 2px rgba(0,0,0,0.75);
	}
	.formFooter .forgotPassword a:before{
		content:"!";
		float:left;
		color:#fff;
		font:30px/30px "RAPH";
		width:28px;
		height:30px;
	}
	.formFooter .forgotPassword:hover a, .formFooter .forgotPassword:hover a:before{ color:#9bc9ff;}
/**		1-1.登入畫面彈跳、下拉視窗區 end**/

/**		1-2.aside側邊欄 #goTop區 strat**/
	#goTop {
		color:rgba(0,0,0,.6);
		font-size:56px;
	    font-family:RAPH;
	    line-height:1;
	    padding:0;
	    margin:0;
	    position:fixed;
	    right:12px;
	    bottom:58px;
	    -moz-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
	    transform:rotate(90deg);
	    cursor:pointer;
	    display:none;
	    z-index:100;
	}
/**		1-2.aside側邊欄 #goTop區 end**/

/**		2-1.頁首選單區 start**/
	header{
		width:100%;
		min-width:320px;
		height:48px;
		position:fixed;
		top:0;
		background:-moz-linear-gradient(top,  #000815 0%, #001131 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#000815), color-stop(100%,#001131)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  #000815 0%,#001131 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  #000815 0%,#001131 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  #000815 0%,#001131 100%); /* IE10+ */
		background:linear-gradient(to bottom,  #000815 0%,#001131 100%); /* W3C */
		border-bottom:1px solid #e6f4ff;
		box-shadow:0px 3px 3px #2f6bec, inset 0px -3px 3px #2f6bec;
	}
	body.index header{box-shadow:0px 3px 3px #2f6bec, inset 0px -3px 3px #2f6bec;}
	hgroup{
		width:100%;
		height:48px;
		margin:0 auto;
	}
	#logo{
		float:none;
		position:absolute;
		top:0;
		left:0;
	}
	#logo a{
		width:125px;
		height:19px;
		text-indent:-9999px;
		background:url(../images/BrainSport.png) no-repeat 5px 12px;
		background-size:125px 19px;
		margin:0;
		padding:12px 5px;
	}
	hgroup nav{
		float:none;
		width:100%;
		height:48px;
	}
	nav .first, nav .second{display:block;}
	nav ul.first{
		width:60%;
		height:48px;
		float:right;
	}
	nav ul.second{
		width:100%;
		clear:both;
		display:none;
		padding-top:1px;
	}
	.first a.store{color:#ffee7c;}
	.first a.store ins{
		width:0;
	    height:0;
		-webkit-animation-name:none;
		   -moz-animation-name:none;
				animation-name:none;
	}
	.first li{
		float:left;
		width:25%;
		border-left:1px solid #000;
		box-shadow:-1px 0 2px #001a52,inset 1px 0 2px #001a52;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.first li.menu_icon{display:block;}
	a.store{text-shadow:none;}
	.first li a{
		width:100%;
		height:44px;
		font-size:13px;
		text-align:center;
		color:#FFF;
		line-height:70px;
		position:relative;
		padding:0;
	}
	.first li a.m_icon:before{
		position:absolute;
		top:5px;
		left:50%;
		content:"";
		background-image:url(../images/header_icon.png);
		width:20px;
		height:20px;
		background-size:425px 20px;
		margin-left:-10px;
		border:none;
	}
	.first li a:hover, hgroup li a.now{
		background:-moz-linear-gradient(top,  rgba(66,122,252,1) 0%, rgba(66,122,252,0) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,122,252,1)), color-stop(100%,rgba(66,122,252,0))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* IE10+ */
		background:linear-gradient(to bottom,  rgba(66,122,252,1) 0%,rgba(66,122,252,0) 100%); /* W3C */
	}
	.first li a.notice:before{background-position:-225px 0;}
	.first li a.service:before{background-position:-250px 0;}
	.first li a.store:before{background-position:-325px 0;}
	.first li a.video:before, .second li a.video:before{background-position:-50px 0;}
	.first li a.menu_icon:before{background-position:-400px 0;}
	.second li{
		float:left;
		width:100%;
		border-left:1px solid #003080;
		border-right:1px solid #003080;
		border-bottom:1px solid #003080;
		box-shadow:none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.second li:nth-last-child(2){border-left:none;}
	.second li:last-child{box-shadow:none;}
	.second li.half{width:50%;}
	.second li.language{position:relative;}
	.second li a, .second li p, .second li a.icon{
		width:100%;
		height:50px;
		background:#427afc;
		color:#fff;
		font-size:18px;
		text-align:center;
		line-height:50px;
		letter-spacing:1px;
		padding:0;
	}
	.second li a.m_icon:before, .second a#language:before, .second li a.icon:before{
		content:"";
		background-image:url(../images/header_icon.png);
		position:relative;
		border:none;
	}
	.second li a.m_icon:before, .second a#language:before{
		display:inline-block;
		width:20px;
		height:20px;
		background-size:425px 20px;
		top:3px;
		left:0;
		margin-right:6px;
	}
	.second li a.icon:before{
		display:block;
	    width:40px;
	    height:40px;
	    top:5px;
		left:0;
	    margin:0 auto;
	}
	.second li a.sign_in:before{background-position:-275px 0;}
	.second li a.sign_out:before{background-position:-300px 0;}
	.second li a#language:before{background-position:-125px 0;}
	.second li a.fb:before{background-position:-50px 0;}
	.second li a.line:before{background-position:-300px 0;}
	.second ul{
		position:absolute;
		width:calc(100% + 2px);
		top:51px;
		left:-1px;
		display:none;
	}
	.second ul li, .second ul li:nth-last-child(2){
		width:50%;
		float:left;
		border:none;
		border-bottom:1px solid #003080;
		border-left:1px solid #003080;
		-webkit-box-sizing:border-box;
	    -moz-box-sizing:border-box;
	    box-sizing:border-box;
	    box-shadow:none;
	}
	.second ul li:nth-child(even){border-right:1px solid #003080;}
	.second ul li a.icon{
		width:100%;
		height:50px;
		background:#427afc;
		color:#fff;
		font-size:18px;
		text-align:center;
		line-height:50px;
		text-indent:0px;
		transition:all .6s ease-out;
		text-shadow:1px 1px 2px #001131;
	}
	.second ul li:last-child{display:block;}
	.second ul li a.icon:before{display:none;}
	.second ul li a:hover, .second li a:hover{background:rgba(66,122,252,0.85);}
	.second #language{text-indent:0%;}
/**		2-1.頁首選單區 end**/

/*		2-2.頁尾區 start*/
	footer{
		width:100%;
		min-width:320px;
		height:60px;
		background:#181818;
		color:#FFF;
		border-top:1px solid #e6f4ff;
		box-shadow:0px -3px 3px #2f6bec, inset 0px 3px 3px #2f6bec;
		z-index:98;
		position:relative;
	}
	footer:before{
		content:"";
		display:block;
		width:30px;
		height:30px;
		position:absolute;
		bottom:0;
		right:0;
		background:#fff url(../images/rating_15.jpg);
		background-size:30px 30px;
	}
	body.index footer{
		position:fixed;
		bottom:0;
		height:35px;
		z-index:98;
	}
	#footer_content{
		width:100%;
		margin:0 auto;
	}
	footer ul{
		float:none;
		width:100%;
		height:20px;
		margin:9px 0;
	}
	footer li{
		width:33.33%;
		height:20px;
		float:left;
		border-right:1px solid #FFF;
		box-sizing:border-box;
	}
	footer li:last-child{border-right:none;}
	footer li a{
		font-size:12px;
		text-align:center;
		line-height:20px;
		color:#FFF;
		padding:0px;
		transition:all .6s;
	}
	footer li a:hover{color:#f29200;}
	footer p{
		font-size:10px;
		line-height:14px;
		letter-spacing:2px;
		text-align:center;
		color:#fff;
	}
/*		2-2.頁尾區 end*/
}
/** 三、平板版型區 **/
@media screen and (min-width:768px) and (max-width:1024px) {
/**		2.頁首&頁尾區 start**/
	#logo a{
		width:195px;
		height:30px;
		background-size:195px 30px;
		margin:13px 0 0 13px;
	}	
	.second li p:before{padding-right:8px;}
	a.store>ins{
	    width:56px;
	    height:56px;
	}
	.second ul{left:-39px;}
	.second ul a.icon{
		width:110px;
		height:55px;
		line-height:54px;
		text-indent:43px;
	}
	.second ul a.icon:before{
		top:15px;
		left:12px;
	}
	@media screen and (orientation:portrait){
		hgroup nav{
			float:none;
			width:100%;
		}
		nav .first, nav .second{display:block;}
		nav ul.first{
			width:60%;
			height:60px;
			float:right;
		}
		nav ul.second{
			width:100%;
			clear:both;
			display:none;
			padding-top:1px;
		}
		.first a.store{color:#ffee7c;}
		.first a.store ins{
			width:0;
		    height:0;
			-webkit-animation-name:none;
			   -moz-animation-name:none;
					animation-name:none;
		}
		.first li{
			float:left;
			width:25%;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
		.first li.menu_icon{display:block;}
		a.store{text-shadow:none;}
		.first li a{
			width:100%;
			height:56px;
			font-size:16px;
			text-align:center;
			color:#FFF;
			line-height:83px;
			position:relative;
			padding:0;
		}
		.first li a.m_icon:before{
			position:absolute;
			top:7px;
			left:50%;
			content:"";
			background-image:url(../images/header_icon.png);
			width:20px;
			height:20px;
			background-size:425px 20px;
			margin-left:-10px;
			border:none;
		}
		.first li a.notice:before{background-position:-225px 0;}
		.first li a.service:before{background-position:-250px 0;}
		.first li a.store:before{background-position:-325px 0;}
		.first li a.video:before, .second li a.video:before{background-position:-50px 0;}
		.first li a.menu_icon:before{background-position:-400px 0;}
		.second li{
			width:100%;
			border-left:1px solid #003080;
			border-right:1px solid #003080;
			border-bottom:1px solid #003080;
			box-shadow:none;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
		.second li:nth-last-child(2){border-left:none;}
		.second li:last-child{box-shadow:none;}
		.second li.half{width:50%;}
		.second li a, .second li p, .second li a.icon{
			width:100%;
			height:50px;
			background:#427afc;
			color:#fff;
			font-size:18px;
			text-align:center;
			line-height:50px;
			letter-spacing:1px;
			padding:0;
		}
		.second li a.m_icon:before, .second a#language:before, .second li a.icon:before{
			content:"";
			background-image:url(../images/header_icon.png);
			position:relative;
			border:none;
		}
		.second li a.m_icon:before, .second a#language:before{
			display:inline-block;
			width:20px;
			height:20px;
			background-size:425px 20px;
			top:3px;
			left:0;
			margin-right:6px;
		}
		.second li a.icon:before{
			display:block;
		    top:5px;
			left:0;
		    margin:0 auto;
		}
		.second li a.sign_in:before{background-position:-275px 0;}
		.second li a.sign_out:before{background-position:-300px 0;}
		.second li a#language:before{background-position:-125px 0;}
		.second li a.fb:before{background-position:-50px 0;}
		.second li a.line:before{background-position:-300px 0;}
		.second ul{
			position:absolute;
			width:calc(100% + 2px);
			top:51px;
			left:-1px;
			display:none;
		}
		.second ul li, .second ul li:nth-last-child(2){
			width:50%;
			float:left;
			border:none;
			border-bottom:1px solid #003080;
			border-left:1px solid #003080;
		}
		.second ul li:nth-child(even){border-right:1px solid #003080;}
		.second ul li a.icon{
			text-indent:0px;
			text-shadow:1px 1px 2px #001131;
		}
		.second ul li:last-child{display:block;}
		.second ul li a.icon:before{display:none;}
		.second ul li a:hover, .second li a:hover{background:rgba(66,122,252,0.85);}
		.second #language{text-indent:0%;}
	}
	#footer_content{width:100%;}
	footer ul{padding-left:5px;}
	footer p{padding-right:20px;}
/**		2.頁首&頁尾區 end**/
}

