<!doctype html>
<html lang="zh-Hans">
<head>
  <meta charset="utf-8">
  <title>Dot A 選擇版型</title>
  <link rel="shortcut icon" href="images/website_logo.png">
  <meta name="keywords" content="Dot A 選擇版型">
	<meta name="description" content="Dot A 選擇版型">
  <meta name="author" content="陳宥宏, Amos Chen">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="Dot A 選擇版型">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <link href="./css/layout.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header id="head">
    <h1 class="headLogo"><a href="" class="headLogo_a">Dot A</a></h1>
    <ul class="headLang">
      <li class="headLang_btn"></li>
      <li id="zh" class="headLang_list" title="中文"><img src="../img/zh.jpg" class="headLang_img" alt="中文"></li>
      <li id="en" class="headLang_list" title="english"><img src="../img/en.jpg" class="headLang_img" alt="english"></li>
      <li id="th" class="headLang_list" title="ไทย"><img src="../img/th.jpg" class="headLang_img" alt="ไทย"></li>
      <li id="vn" class="headLang_list" title="Tiếng Việt"><img src="../img/vn.jpg" class="headLang_img" alt="Tiếng Việt"></li>
    </ul>
    <div class="headAsideMenu">
      <span class="headAsideMenu_icon">
        <span class="headAsideMenu_iconLong"></span><span class="headAsideMenu_iconShort"></span><span class="headAsideMenu_iconTick"></span>
      </span>
    </div>
  </header>
  <div id="AE_wrap">
    <main class="main_style_select">
      <div id="page_select_box"><p><strong text="tempTitle">模板选择 Template Selection</strong></p></div>
      <div id="style_select_box">
        <!-- <div id="style_select_start"><h3>请先选择上方任一页面</h3><p>PLEASE SELECT ANY PAGE SELECTION.</p></div> -->
      </div>
    </main>
    <div class="aside_menu_bg"></div>
    <aside class="aside_menu">
      <h3 text="tempSEL"></h3>
      <ul id="page_select"><li class="template_none" text="tempEmpty"></li></ul>
      <h3 text="tempCFM"></h3>
      <ul id="page_select_comfirm"></ul>
      <div class="share_box">
        <button id="share_btn" text="tempCopy" data-clipboard-target="#page_select_comfirm"></button><div class="share_copy" text="tempCopyHover"></div>
      </div>
    </aside>
  </div>
  <footer id="foot" class="DAfoot active">
    <a class="DAfoot_Box3D" href="mailto:kuas1091104337@gmail.com?subject=Hi,Amos. 你好，我是…">
      <span class="DAfoot_Box3D_space">
        <span class="DAfoot_Box3D__side DAfoot_Box3D__side-front"></span>
        <span class="DAfoot_Box3D__side DAfoot_Box3D__side-back"></span>
        <span class="DAfoot_Box3D__side DAfoot_Box3D__side-up"></span>
        <span class="DAfoot_Box3D__side DAfoot_Box3D__side-down"></span>
        <span class="DAfoot_Box3D__side DAfoot_Box3D__side-left"></span>
        <span class="DAfoot_Box3D__side DAfoot_Box3D__side-right"></span>
      </span>
      <span class="DAfoot_Box3D_logo">A</span>
    </a>
    <a class="DAfoot_link" title="與陳宥宏聯絡" href="mailto:kuas1091104337@gmail.com?subject=Hi,Amos. 你好，我是…">Email：kuas1091104337@gmail.com</a>
    <p class="DAfoot_txt">© 2023 CHEN YU HONG</p>
  </footer>
  <div id="goTop"><span></span><span></span></div>
  <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="./js/clipboard.min.js"></script>
  <script type="text/javascript" src="../js/i18n.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
</body>
</html>
