@import "../../sass/_normalize.scss";
$XmaxW:1440;
$XmaxH:1500;
$XmaxCandyH:560;
@keyframes candyDrop{
	0%{transform:translate3d(0,-150%,0) rotate3d(0,0,1,60deg) scale3d(1,1.5,1) }
	60%{transform:translate3d(0,25px,0) rotate3d(0,0,1,-10deg) scale3d(1,.9,1);}
	75%{transform:translate3d(0,-10px,0) rotate3d(0,0,0,0deg) scale3d(1,.95,1);}
	90%{transform:translate3d(0,5px,0) scale3d(1,.985,1);}
	100%{transform:translate3d(0,0,0) scale3d(1,1,1);}
}
@keyframes candySwing{
	20%{transform:rotate3d(0,0,1,15deg);}
	40%{transform:rotate3d(0,0,1,-10deg);}
	60%{transform:rotate3d(0,0,1,5deg);}
	80%{transform:rotate3d(0,0,1,-5deg);}
	100%{transform:rotate3d(0,0,0,0deg);}
}
@keyframes pinkCandySwing{
	20%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,45deg);}
	40%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,20deg);}
	60%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,35deg);}
	80%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,25deg);}
  100%{transform:translate3d(20%,-15%,0) rotate3d(0,0,0,30deg);}
}
@keyframes candyBarSwing{
	20%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-11deg);}
	40%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-36deg);}
	60%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-21deg);}
	80%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-31deg);}
  100%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,0,-26deg);}
}
@keyframes snowBgMoveRight{
	0%{background-position:100% 100%;}
	100%{background-position:0 0;}
}
@keyframes snowBgMoveLeft{
	0%{background-position:0 100%;}
	100%{background-position:100% 0;}
}
@keyframes fieldMove{
	0%{background-position-x:0;}
	100%{background-position-x:200%;}
	// 0%{background-position-x:100vw;}
	// 100%{background-position-x:0vw;}
}
@keyframes readyCandySwing{
	0%, 25%, 50%, 75%, 100%{transform:translate3d(0,0,0) rotate3d(0,0,0,0deg);}
	12.5%{transform:translate3d(0,-4%,0) rotate3d(0,0,1,-6deg);}
	37.5%{transform:translate3d(0,4%,0) rotate3d(0,0,1,6deg);}
	62.5%{transform:translate3d(0,-2%,0) rotate3d(0,0,1,-6deg);}
	87.5%{transform:translate3d(0,2%,0) rotate3d(0,0,1,6deg);}
}
@keyframes readyEveryCandySwing{
	0%, 25%, 50%, 75%, 100%{transform:rotate3d(0,0,0,0deg);}
	12.5%{transform:rotate3d(0,0,1,-10deg);}
	37.5%{transform:rotate3d(0,0,1,6deg);}
	62.5%{transform:rotate3d(0,0,1,-6deg);}
	87.5%{transform:rotate3d(0,0,1,10deg);}
}
@keyframes readyPinkCandySwing {
	0%, 25%, 50%, 75%, 100%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,30deg);}
	12.5%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,20deg);}
	37.5%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,36deg);}
	62.5%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,24deg);}
	87.5%{transform:translate3d(20%,-15%,0) rotate3d(0,0,1,40deg);}
}
@keyframes readyCandyBarSwing {
	0%, 25%, 50%, 75%, 100%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-26deg);}
	12.5%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-36deg);}
	37.5%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-20deg);}
	62.5%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-32deg);}
	87.5%{transform:translate3d(-44%,-4%,0) rotate3d(0,0,1,-16deg);}
}
@keyframes snowDrop{
	0%{top:-5%;}
	100%{top:105%;}
}
@keyframes snowRotate{
	0%{transform:translate3d(0%,0,0) rotate3d(0,0,1,0deg);}
	33%{transform:translate3d(-50%,0,0) rotate3d(0,0,1,120deg);}
	66%{transform:translate3d(30%,0,0) rotate3d(0,0,1,240deg);}
	100%{transform:translate3d(0%,0,0) rotate3d(0,0,1,360deg);}
}
.Xmax{
	background-image:linear-gradient(180deg, #ab0000 25%, #5d0000 75%);
	overflow:hidden;
	position: relative;
	&_snow{
		width:100%;
		height:0;
		padding-bottom:calc($XmaxH/$XmaxW)*100%;
		position:relative;
		&:before, &:after{
			content:"";
			width:100%;
			height:100%;
			background-image:url("../img/snowBigBg.png");
			background-size:200% 200%;
			position:absolute;
			top:0;
			left:0;
		}
		&:after{
			opacity:.8;
			transform:scale3d(1.04,1.04,1);
		}
		&:before{
			opacity:.5;
			transform:scale3d(.96,.96,1);
		}
		&_item{
			height:100%;
			position:absolute;
			top:0;
			&-1-1{
				width:calc(70/$XmaxW)*100%;
				left:calc(1300/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(140/$XmaxH)*100%;}
			}
			&-1-2{
				width:calc(38/$XmaxW)*100%;
				left:calc(1150/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(650/$XmaxH)*100%;}
			}
			&-1-3{
				width:calc(75/$XmaxW)*100%;
				left:calc(250/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(750/$XmaxH)*100%;}
			}
			&-2-1{
				width:calc(44/$XmaxW)*100%;
				left:calc(580/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(30/$XmaxH)*100%;}
			}
			&-2-2{
				width:calc(60/$XmaxW)*100%;
				left:calc(270/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(100/$XmaxH)*100%;}
			}
			&-2-3{
				width:calc(70/$XmaxW)*100%;
				left:calc(1250/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(820/$XmaxH)*100%;}
			}
			&-2-4{
				width:calc(40/$XmaxW)*100%;
				left:calc(360/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(930/$XmaxH)*100%;}
			}
			&-2-5{
				width:calc(45/$XmaxW)*100%;
				left:calc(1200/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(1200/$XmaxH)*100%;}
			}
			&-3-1{
				width:calc(80/$XmaxW)*100%;
				left:calc(100/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(920/$XmaxH)*100%;}
			}
			&-3-2{
				width:calc(60/$XmaxW)*100%;
				left:calc(270/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(100/$XmaxH)*100%;}
			}
			&-3-3{
				width:calc(44/$XmaxW)*100%;
				left:calc(1060/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(780/$XmaxH)*100%;}
			}
			&-4-1{
				width:calc(74/$XmaxW)*100%;
				left:calc(70/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(360/$XmaxH)*100%;}
			}
			&-4-2{
				width:calc(26/$XmaxW)*100%;
				left:calc(910/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(60/$XmaxH)*100%;}
			}
			&-4-3{
				width:calc(74/$XmaxW)*100%;
				left:calc(1025/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(945/$XmaxH)*100%;}
			}
			&-4-4{
				width:calc(52/$XmaxW)*100%;
				left:calc(240/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(1180/$XmaxH)*100%;}
			}
			&-4-5{
				width:calc(26/$XmaxW)*100%;
				left:calc(385/$XmaxW)*100%;
				> .Xmax_snow__img{top:calc(585/$XmaxH)*100%;}
			}
		}
		&__img{
			width:100%;
			position:absolute;
			left:0;
		}
	}
	&_field{
		margin-top:-8%;
		&_img{
			width:100%;
			&-back, &-front{
				background-size:200% 100%;
				height:0;
			}
			&-back{
				padding-bottom:calc(450/1440)*100%;
				background-image:url("../img/fieldBack.png");
			}
			&-front{
				padding-bottom:calc(264/1440)*100%;
				background-image:url("../img/fieldFront.png");
				margin-top:-10%;
			}
		}
	}
	&_content{
		color:#fff;
		width:100%;
		height:100%;
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		position:absolute;
		top:0;
		left:0;
		&_h1, &_h2{
			transform:skew(-6deg);
			&_span-2{
				position:absolute;
				top:0;
				left:0;
			}
		}
		&_h1{
			font-size:15vw;
			margin:0;
			transform:skew(-8deg);
			&_span-1{
				text-shadow:.8vw .8vw 2.4vw rgba(#000,.8),
										0 0 4vw rgba(#000,.5);
				-webkit-text-stroke:2vw #deae00;
			}
		}
		&_h2{
			font-size:10vw;
			transform:skew(-6deg);
			&_span-1{
				text-shadow:.6vw .6vw 1.8vw rgba(#000,.8),
										0 0 3vw rgba(#000,.5);
				-webkit-text-stroke:1.5vw #006d00;
			}
		}
	}
	&_candy{
		width:120%;
		height:0;
		list-style-type:none;
		pointer-events:none;
		overflow:hidden;
		padding-bottom:calc($XmaxCandyH/$XmaxW)*120%;
		margin:0;
		position:absolute;
		top:0;
		left:-10%;
		&_item{
			display: flex;
			position:absolute;
			top: 0;
			transform:translate3d(0,-85%,0);
			&:before{
				content:"";
				position:absolute;
				left:50%;
				width: 0;
				height: 100%;
				border-right: 1px solid rgba(102,92,66,0.45);
				border-left: 1px solid rgba(171,147,120,0.6);
				margin-left: -1px;
			}
    }
    &__img{
			width:100%;
			display:block;
			margin-top:auto;
			transform-origin:50% 0%;
    }
    &_whiteBall-small{
			width:calc(50/$XmaxW)*100%;
			height:calc(350/$XmaxCandyH)*100%;
			left:calc(160/$XmaxW)*100%;
			&:before{bottom:18.5%;}
		}
		&_whiteBall-big{
			width:calc(58/$XmaxW)*100%;
			height:calc(100/$XmaxCandyH)*100%;
			left:calc(1020/$XmaxW)*100%;
			&:before{bottom:68%;}
		}
		&_goldenBall-small{
			width:calc(45/$XmaxW)*100%;
			height:calc(190/$XmaxCandyH)*100%;
			left:calc(1200/$XmaxW)*100%;
			&:before{bottom:28%;}
		}
		&_goldenBall-big{
			width:calc(88/$XmaxW)*100%;
			height:calc(300/$XmaxCandyH)*100%;
			left:calc(220/$XmaxW)*100%;
			&:before{bottom:35%;}
		}
		&_redWhiteCandy{
			width:calc(110/$XmaxW)*100%;
			height:calc(540/$XmaxCandyH)*100%;
			left:calc(240/$XmaxW)*100%;
			&:before{bottom:23%;}
		}
		&_pinkCandy{
			width:calc(170/$XmaxW)*100%;
			height:calc(160/$XmaxCandyH)*100%;
			left:calc(320/$XmaxW)*100%;
			&:before{bottom:49%;}
			> .Xmax_candy__img{
				transform:translate3d(20%, -15%, 0) rotate3d(0, 0, 1, 30deg);
				transform-origin:30% 0;
			}
		}
		&_candyBar{
			width:calc(42/$XmaxW)*100%;
			height:calc(160/$XmaxCandyH)*100%;
			left:calc(516/$XmaxW)*100%;
			&:before{bottom:66%;}
			> .Xmax_candy__img{
				transform:translate3d(-44%, -4%, 0) rotate3d(0, 0, 1, -26deg);
				transform-origin:97.5% 2.5%;
			}
		}
		&_redSnowBall-center, &_redSnowBall-right{
			width:calc(58/$XmaxW)*100%;
		}
		&_redSnowBall-center{
			height:calc(130/$XmaxCandyH)*100%;
			left:calc(660/$XmaxW)*100%;
			&:before{bottom:50%;}
		}
		&_redSnowBall-right{
			height:calc(330/$XmaxCandyH)*100%;
			left:calc(1240/$XmaxW)*100%;
			&:before{bottom:22%;}
		}
		&_yellowCandy{
			width:calc(86/$XmaxW)*100%;
			height:calc(130/$XmaxCandyH)*100%;
			left:calc(790/$XmaxW)*100%;
			&:before{bottom:75%;}
		}
		&_redWhiteBall{
			width:calc(82/$XmaxW)*100%;
			height:calc(180/$XmaxCandyH)*100%;
			left:calc(940/$XmaxW)*100%;
			&:before{bottom:45%;}
		}
		&_candyCanes{
			width:calc(68/$XmaxW)*100%;
			height:calc(290/$XmaxCandyH)*100%;
			left:calc(1100/$XmaxW)*100%;
			&:before{bottom:61.5%;}
		}
		&_orangeWhiteCandy{
			width:calc(100/$XmaxW)*100%;
			height:calc(460/$XmaxCandyH)*100%;
			left:calc(1140/$XmaxW)*100%;
			&:before{bottom:24%;}
		}
  }
}
.loaded, .ready{
	.Xmax_snow{
		&:before{animation:snowBgMoveLeft 100s linear infinite;}
		&:after{animation:snowBgMoveRight 60s linear infinite;}
		&__img{
			animation:snowDrop 10s linear infinite,
								snowRotate .8s linear infinite;
		}
		&_item{
			&-1-1 > .Xmax_snow__img{animation-delay:-0.93s,-0.93s;}
			&-1-2 > .Xmax_snow__img{animation-delay:-4.3s,-4.3s;}
			&-1-3 > .Xmax_snow__img{animation-delay:-5s,-5s;}
			&-2-1 > .Xmax_snow__img{animation-delay:-0.2s,-0.2s;}
			&-2-2 > .Xmax_snow__img{animation-delay:-0.7s,-0.7s;}
			&-2-3 > .Xmax_snow__img{animation-delay:-5.5s,-5.5s;}
			&-2-4 > .Xmax_snow__img{animation-delay:-6s,-6s;}
			&-2-5 > .Xmax_snow__img{animation-delay:-8s,-8s;}
			&-3-1 > .Xmax_snow__img{animation-delay:-6.2s,-6.2s;}
			&-3-2 > .Xmax_snow__img{animation-delay:-0.65s,-0.65s;}
			&-3-3 > .Xmax_snow__img{animation-delay:-5.2s,-5.2s;}
			&-4-1 > .Xmax_snow__img{animation-delay:-2.4s,-2.4s;}
			&-4-2 > .Xmax_snow__img{animation-delay:-0.4s,-0.4s;}
			&-4-3 > .Xmax_snow__img{animation-delay:-6.3s,-6.3s;}
			&-4-4 > .Xmax_snow__img{animation-delay:-7.86s,-7.86s;}
			&-4-5 > .Xmax_snow__img{animation-delay:-3.9s,-3.9s;}
		}
	}
}
.loaded .Xmax_candy{
	&__img{animation:candySwing .4s ease-in-out 2;}
	&_item{
		animation-name:candyDrop;
		animation-timing-function:cubic-bezier(.215,.61,.355,1);
		animation-fill-mode:both;
	}
	&_whiteBall-small{
		animation-duration:1.1s;
		> .Xmax_candy__img{animation-delay:.2s;}
	}
	&_redWhiteCandy{
		animation-duration:1.3s;
		> .Xmax_candy__img{animation-delay:.2s;}
	}
	&_goldenBall-big{
		animation-duration:.8s;
		animation-delay:.2s;
		> .Xmax_candy__img{animation-delay:.1s;}
	}
	&_pinkCandy{
		animation-duration:.5s;
		animation-delay:.3s;
		> .Xmax_candy__img{
			animation-name:pinkCandySwing;
			animation-delay:.2s;
		}
	}
	&_candyBar{
		animation-duration:.4s;
		animation-delay:.4s;
		> .Xmax_candy__img{
			animation-name:candyBarSwing;
			animation-delay:.2s;
		}
	}
	&_redSnowBall-center{
		animation-duration:.3s;
		animation-delay:.5s;
		> .Xmax_candy__img{animation-delay:.2s;}
	}
	&_yellowCandy{
		animation-duration:.2s;
		animation-delay:.7s;
		> .Xmax_candy__img{animation-delay:.4s;}
	}
	&_redWhiteBall{
		animation-duration:.5s;
		animation-delay:.3s;
		> .Xmax_candy__img{animation-delay:.2s;}
	}
	&_whiteBall-big{
		animation-duration:.3s;
		animation-delay:.8s;
		> .Xmax_candy__img{animation-delay:.6s;}
	}
	&_candyCanes{
		animation-duration:.7s;
		animation-delay:.2s;
		> .Xmax_candy__img{animation-delay:.1s;}
	}
	&_orangeWhiteCandy{
		animation-duration:1.3s;
		> .Xmax_candy__img{animation-delay:.2s;}
	}
	&_goldenBall-small{
		animation-duration:.4s;
		animation-delay:.5s;
		> .Xmax_candy__img{animation-delay:.7s;}
	}
	&_redSnowBall-right{animation-duration:.9s;}
}
.ready .Xmax{
	&_field_img{
		&-back{animation:fieldMove 200s linear infinite;}
		&-front{animation:fieldMove 80s linear infinite;}
	}
	&_candy{
		&_item{
			transform-origin:50% 0;
			animation-name:readyCandySwing;
			animation-timing-function:linear;
			animation-iteration-count:infinite;
		}
		&_redWhiteCandy, &_pinkCandy, &_redSnowBall-center, &_redWhiteBall, &_candyCanes, &_goldenBall-small{
			animation-direction:reverse;
			> .Xmax_candy__img{animation-direction:reverse;}
		}
		&_whiteBall-small{
			animation-duration:5.6s;
			> .Xmax_candy__img{animation-duration:5.6s;}
		}
		&_redWhiteCandy{
			animation-duration:4.8s;
			> .Xmax_candy__img{animation-duration:4.8s;}
		}
		&_goldenBall-big{
			animation-duration:6.4s;
			> .Xmax_candy__img{animation-duration:6.4s;}
		}
		&_pinkCandy{
			animation-duration:6.4s;
			> .Xmax_candy__img{
				animation-name:readyPinkCandySwing;
				animation-duration:6.4s;
			}
		}
		&_candyBar{
			animation-duration:7.2s;
			> .Xmax_candy__img{
				animation-name:readyCandyBarSwing;
				animation-duration:7.2s;
			}
		}
		&_redSnowBall-center{
			animation-duration:8s;
			> .Xmax_candy__img{animation-duration:8s;}
		}
		&_yellowCandy{
			animation-duration:7.2s;
			> .Xmax_candy__img{animation-duration:7.2s;}
		}
		&_redWhiteBall{
			animation-duration:6.4s;
			> .Xmax_candy__img{animation-duration:6.4s;}
		}
		&_whiteBall-big{
			animation-duration:8s;
			> .Xmax_candy__img{animation-duration:8s;}
		}
		&_candyCanes{
			animation-duration:5.6s;
			> .Xmax_candy__img{animation-duration:5.6s;}
		}
		&_orangeWhiteCandy{
			animation-duration:4.8s;
			> .Xmax_candy__img{animation-duration:4.8s;}
		}
		&_goldenBall-small{
			animation-duration:7.2s;
			> .Xmax_candy__img{animation-duration:7.2s;}
		}
		&_redSnowBall-right{
			animation-duration:5.6s;
			> .Xmax_candy__img{animation-duration:5.6s;}
		}
		&__img{
			animation-name:readyEveryCandySwing;
			animation-timing-function:linear;
			animation-iteration-count:infinite;
		}
	}
}
// ===== 桌機版型區 =====
@media screen and (min-width: 1024px) and (orientation:landscape){
	.Xmax{
		&_field{margin-top:-38%;}
		&_content{
			height:72%;
			&_h1{
				font-size:105px;
				&_span-1{
					text-shadow:6px 6px 17px rgba(#000,.8),
											0 0 28px rgba(#000,.5);
					-webkit-text-stroke:14px #deae00;
				}
			}
			&_h2{
				font-size:70px;
				&_span-1{
					text-shadow:4px 4px 13px rgba(#000,.8),
											0 0 21px rgba(#000,.5);
					-webkit-text-stroke:11px #006d00;
				}
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.Xmax{
		&_field{margin-top:-38%;}
		&_content{
			height:72%;
			&_h1{
				font-size:105px;
				&_span-1{
					text-shadow:6px 6px 17px rgba(#000,.8),
											0 0 28px rgba(#000,.5);
					-webkit-text-stroke:14px #deae00;
				}
			}
			&_h2{
				font-size:70px;
				&_span-1{
					text-shadow:4px 4px 13px rgba(#000,.8),
											0 0 21px rgba(#000,.5);
					-webkit-text-stroke:11px #006d00;
				}
			}
		}
	}
}
// ===== 手機版型區 =====
@media screen and (max-width: 767px){
	 
}
// 手機版拿直的時候 portrait
@media screen and (max-width: 767px) and (orientation:portrait){
	 
}
// 手機版拿橫的時候 Landscape
@media screen and (max-width: 767px) and (orientation:landscape){
	 
}
// ===== 平板版型區 =====
@media screen and (min-width: 768px) and (max-width: 1019px) {
	 
}
