@import "_normalize.scss";
@import "compass";
@import "breakpoint";
@import "susy";
// 媽咪佳肋比 網頁設計變數
$媽咪佳肋比_網頁_藍:#0b478c;
$媽咪佳肋比_網頁_signOut深藍:#0a4180;
$媽咪佳肋比_網頁_深藍:#042c59;
$媽咪佳肋比_網頁_淡黃:#fcca20;
$媽咪佳肋比_網頁_黃:#d6a600;
$媽咪佳肋比_網頁_淡紅:#f25577;
$媽咪佳肋比_網頁_紅:#ba163a;
$媽咪佳肋比_網頁_signIn深紅:#ad1536;
$媽咪佳肋比_網頁_深紅:#940322;
$媽咪佳肋比_網頁_透明黑:rgba(0,0,0,0.7);

$媽咪佳肋比_桌機網頁_頁首選單藍字陰影:rgba(11,71,140,0.3);
$媽咪佳肋比_桌機網頁_Title藍字陰影:rgba(4,44,89,0.3);
$媽咪佳肋比_桌機網頁_紅字陰影:rgba(186,22,58,0.3);

$媽咪佳肋比_桌機版_最大寬度設定:1000px;	
$媽咪佳肋比_頁首選單_MKlogo手機版_寬度長度:70px;
$媽咪佳肋比_頁首選單_MKlogo桌機版_寬度長度:80px;
$媽咪佳肋比_sprite_images圖片_兩倍解析度設定:108px 70px;	//原218*140px
$媽咪佳肋比_頁首選單_MKlogo桌機版_背景圖設定:123px 80px;
$媽咪佳肋比_頁首選單_關於我們icon背景圖定位:0 0;
$媽咪佳肋比_頁首選單_MKlogo手機版_icon背景圖定位:-33px 0;
$媽咪佳肋比_頁首選單_MKlogo桌機版_icon背景圖定位:-38px 0;
$媽咪佳肋比_頁首選單_語言選擇_桌機版_高度:140px;	//兩個語言選項時用96px

$媽咪佳肋比_菜單頁id_bannerSlideBox寬度:600%;		//目前六張banner寬度600%，三張banner寬度300%以此類推
$媽咪佳肋比_菜單頁bannerSlideBox_li寬度:16.6667%;		//100% ÷ 6(目前六張) = 16.6667%，(五張:20%，四張:25%，三張:33.3333%，二張:50%)

::selection{
	color:#fffcd9;
	text-shadow:none;
	background-color:rgba(0,0,0,0.6);
}
@font-face {
	font-family:"icomoon";
	src:url("../fonts/icomoon.eot?weunha");
	src:url("../fonts/icomoon.eot?weunha#iefix") format("embedded-opentype"),url("../fonts/icomoon.ttf?weunha") format("truetype"),url("../fonts/icomoon.woff?weunha") format("woff"),url("../fonts/icomoon.svg?weunha#icomoon") format("svg");
	font-weight:normal;
	font-style:normal;
}
html, body, header, article, footer, #wrap, #loading{min-width:320px;}
@include border-box-sizing;
a{
	text-decoration:none;
	display:block;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
input, textarea, select, button, a{outline:none;}
ul{
	margin: 0;
	padding: 0;
	list-style:none;
}	
html, body{
	font-size:18px;
	font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
	// 多國語言版	font-family:"Helvetica Neue",Helvetica,Arial,"微軟正黑體","微软雅黑","メイリオ","맑은 고딕",sans-serif;
	width:100%;
	height:100%;
	background:#e5e5e5 url(../images/squairy_light.jpg) repeat left top; 	
	background-position:center top;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling:touch;
}
@mixin 偽元素三角形相對定位CSS設定預設值($borderWidth:5px,$borderColor:black,$content:"",$width:0,$height:0,$borderStyle:solid,$position:absolute){
	border-width:$borderWidth;
	border-color:$borderColor;
	content:$content;
	width:$width;
	height:$height;
	border-style:$borderStyle;
	position:$position;
}
@mixin 偽元素三角形CSS設定預設值($borderWidth:5px,$borderColor:black,$content:"",$width:0,$height:0,$borderStyle:solid,$position:absolute){
	border-width:$borderWidth;
	border-color:$borderColor;
	content:$content;
	width:$width;
	height:$height;
	border-style:$borderStyle;
}
@mixin loading區的載入紅藍線條($heightSize:4px, $color:$媽咪佳肋比_網頁_紅, $marginSize:4px){
	height: $heightSize;
	background-color: $color;
	margin-top: $marginSize;
}
@mixin 載入動畫文字移動的距離($moveSize:-18px){ margin-top: $moveSize;}
@mixin DOM_sprite_images設定預設值($width:28px, $height:24px, $backgroundSize:$媽咪佳肋比_sprite_images圖片_兩倍解析度設定, $backgroundImage:url(../images/sprite_images.png), $backgroundRepeat:no-repeat){
	width:$width;
	height:$height;
	background-size:$backgroundSize;
	background-image:$backgroundImage;
	background-repeat:$backgroundRepeat;
}
@mixin 偽元素_sprite_images設定預設值($width:28px, $height:24px, $backgroundSize:$媽咪佳肋比_sprite_images圖片_兩倍解析度設定, $backgroundImage:url(../images/sprite_images.png), $position:absolute, $content:"", $backgroundRepeat:no-repeat){
	width:$width;
	height:$height;
	background-size:$backgroundSize;
	background-image:$backgroundImage;
	position:$position;
	content:$content;
	background-repeat:$backgroundRepeat;
}
@mixin 頁首選單_偽元素_icon設定預設值($backgroundSize:$媽咪佳肋比_sprite_images圖片_兩倍解析度設定, $backgroundImage:url(../images/sprite_images.png), $backgroundRepeat:no-repeat, $content:""){
	background-size:$backgroundSize;
	background-image:$backgroundImage;
	background-repeat:$backgroundRepeat;
	content:$content;
}
%偽元素icon-font基本設定{
	font-family:"icomoon";
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	position:absolute;
	speak:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
%偽元素icon-font共用icon設定{
	font-size:22px;
	line-height:24px;
	width: 28px;
	height: 24px;
}
%紅色按鈕CSS設定預設值{
	background-color:$媽咪佳肋比_網頁_紅;
	border-radius:6px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.2), inset 0 2px 0 rgba(255,255,255,.05), 0 2px 1px $媽咪佳肋比_網頁_淡紅 inset, inset 0 -4px 0 $媽咪佳肋比_網頁_深紅, 0 2px 4px 2px rgba(0,0,0,.1);
	padding-bottom:4px;
	margin:0 2px 2px 0;
	box-sizing:content-box;
	@include transition(all .3s .4s);
}
%紅色按鈕按下時CSS設定預設值{
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.2), inset 0 2px 0 rgba(255,255,255,.05), 0 2px 1px $媽咪佳肋比_網頁_淡紅 inset, inset 0 0 0 $媽咪佳肋比_網頁_深紅, 0 2px 4px 2px rgba(0,0,0,.05);
	padding-bottom: 0;
	margin-top: 4px;
	@include transition(all .3s);
}
%左右箭頭icon基本設定{
	width:26px;
    height:34px;
    border-color:$媽咪佳肋比_網頁_透明黑;
    border-style:solid;
    border-width:23px 8px;
    cursor:pointer;
    box-sizing:content-box;
    position:absolute;
    top:50%;
    z-index:30;
    @include transform(translateY(-50%));
}
%左右箭頭icon偽元素基本設定{
	content:"";
    width: 0;
    height: 0;
    display: inline-block;
    border-width: 17px 13px 17px 0;
    border-style: solid; 
}
//	手機優先版型區
//	loading區
	#loading{
		text-align: center;
		width: 100%;
		height: 100%;
		background-color:#fff;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		h2, h3, p{
			font-weight:100;
			width: 100%;
			position: absolute;
			top: 50%;
			opacity:0;
			@include transition(margin-top .4s);
		}
		h2{@include 載入動畫文字移動的距離();}
		h3{
			font-size: 23px;
			@include 載入動畫文字移動的距離(-14px);
		}
		p{@include 載入動畫文字移動的距離(-12px);}
		&:before, &:after{
			content:"";
			width: 0%;
			position: absolute;
			top: 50%;
			@include transition(width .4s .4s ease-out);	
		}
		&:before{
			@include loading區的載入紅藍線條();
			left: 0;
		}
		&:after{
			@include loading區的載入紅藍線條(8px, $媽咪佳肋比_網頁_藍, 10px);
			right: 0;
		}
	}
	div[class$="_triangle"]{
		width: 0;
		height: 0;
		position: absolute;
		@include transform(rotate(45deg));
	}
	div[class^="up_left_"], div[class^="down_right_"]{
		border-top: 35px solid transparent;
		border-bottom: 35px solid transparent;
	}
	div[class^="up_right_"], div[class^="down_left_"]{
		border-right: 35px solid transparent;
		border-left: 35px solid transparent;
	}
	.up_left_triangle{
		top: -13px;
	    left: 5px;
	    border-right: 35px solid $媽咪佳肋比_網頁_紅;
	}
	.up_right_triangle{
		top: 5px;
	    right: -13px;
	    border-bottom: 35px solid $媽咪佳肋比_網頁_紅;
	}
	.down_right_triangle{
		bottom: -13px;
	    right: 5px;
	    border-left: 35px solid $媽咪佳肋比_網頁_藍;
	}
	.down_left_triangle{
		bottom: 5px;
	    left: -13px;
	    border-top: 35px solid $媽咪佳肋比_網頁_藍;
	}
	#Moms_Kalbi_logo{
		width: 210px;
		height: 210px;
		margin:-102px 0 0 -100px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index:10;
	}
	#loading.load{
		&:before, &:after{width:100%;}
		h2, h3, p{opacity:1;}
		h2{@include 載入動畫文字移動的距離(-200px);}
		h3{@include 載入動畫文字移動的距離(-150px);}
		p{@include 載入動畫文字移動的距離(130px);}
		#Moms_Kalbi_logo{ @include animation(pulse .4s both);}
	}
	@include keyframes(pulse) {
		0% {@include transform(scale3d(1, 1, 1));}
		50% {@include transform(scale3d(1.05, 1.05, 1.05));}
		100% {@include transform(scale3d(1, 1, 1));}
	}
	// #OOO{
	// 	width: 240px;height: 240px;background:rgba(0,255,255,0.7);margin:-120px 0 0 -120px;position: absolute;top:10px;left:10px;top: 50%;left: 50%;border-radius:50%;
	// }
//	頁首選單區
	header{
		width:100%;
		height:50px;
		background:#fff; 
		box-shadow:0 0 10px rgba(0,0,0,0.3);
		position:fixed;
		top:0;
		z-index:100;
		hgroup{
			width:100%;
			max-width:$媽咪佳肋比_桌機版_最大寬度設定;
			height:100%;
			margin:0 auto;
			position: relative;
			&:before{
				content:"";
				width: 100px;
				height: 100%;
				background-color:#fff;
				position: absolute;
				top:0;
				left:-10px;
				z-index:110;
			}
		}
		#MK_logo{
			margin:0;
			position:absolute;
			top:0;
			left:0;
			a{
				text-indent:100%;
				overflow:hidden;
				white-space:nowrap;
				width:$媽咪佳肋比_頁首選單_MKlogo手機版_寬度長度;
				height:$媽咪佳肋比_頁首選單_MKlogo手機版_寬度長度;
				background-color:#fff;
				border-radius:50%;
				box-shadow:0 0 10px rgba(0,0,0,0.3);
				position: relative;
				&:after{
					@include 偽元素_sprite_images設定預設值(100%, 100%);
					background-position:$媽咪佳肋比_頁首選單_MKlogo手機版_icon背景圖定位;
					border-radius:50%;
					top:0;
					left:0;
					z-index:110;
				}
			}
		}
	}
	header + *{margin-top:75px;}
	nav{
		width:100%;
		height:100%;
		ul{
			font-size:0;
			letter-spacing:-0.25em;
			word-spacing:-0.25em;
			display:block;
			li{
				font-size:16px;
				letter-spacing:0; 
				word-spacing:0;
				height:50px;
				display: inline-block;
				vertical-align:top;
			}
			a{
				direction:rtl;
				text-align:center;
				width:100%;
				height:100%;
				display:block;
				position:relative;
			}
		}
		>ul>li>a:after{
			@extend %偽元素icon-font基本設定;
			@extend %偽元素icon-font共用icon設定;
		}
		ul.first{
			text-align: right;
			width: auto;
			background-color:#fff;
			margin-left: $媽咪佳肋比_頁首選單_MKlogo手機版_寬度長度;
			position: relative;
			z-index:110;
			li.menu{
				width:62px;
				background:transparent;
				padding: 1px;
				margin-right: 1px;
				@include transition(all .3s);
				span{
					text-indent:100%;
					overflow:hidden;
					white-space:nowrap;
					@extend %第二層選單btn漢堡Bar;
				}
				&:before, &:after{
					content: "";
					@extend %第二層選單btn漢堡Bar;
				}
			}
			%第二層選單btn漢堡Bar{
				width:32px;
				height:5px;
				background: $媽咪佳肋比_網頁_藍;
				display:block;
				border-radius:2px;
				margin:8px auto;
				@include transition(all .3s);
			}
			li.menu.click{
				background:$媽咪佳肋比_網頁_藍;
				box-shadow:0 2px 0 $媽咪佳肋比_網頁_藍; 
				@include transform(rotate(180deg));
				span{background: transparent;}
				&:before, &:after{background:#fff;}
				&:before{@include transform(translateY(13px) rotate(-45deg));}
				&:after{@include transform(translateY(-13px) rotate(45deg));}
			}
			a{
				color:$媽咪佳肋比_網頁_藍;
				line-height:76px;
				padding:0 15px;
				&:after{
					margin-left:-14px;				
					top:3px;
					left:50%;
				}
				&:active{@extend a.select;}
			}
			a.carte:after{content:"\e901";}
			a.activity:after{content:"\e900";}
			a.reserve:after{content:"\e907";}
			a.select{color:$媽咪佳肋比_網頁_紅;}	
		}
		ul.second{
			width: 100%;
			display:none;
			li{
				width:100%;
				border:1px solid #fff;
				border-top:none;
				background:$媽咪佳肋比_網頁_藍;
			}
			a{
				color:#fff;
				line-height:50px;
				width:100%;
				@include transition(all .3s);
				&:active{@extend a.select;}
			}
			a.video:after{content:"\e90b";}
			a.join:after{content:"\e972";}
			a.language{
				line-height:49px;
				border-bottom:1px solid #fff;
				background-color: #0b478c;
				position: relative;
				z-index:110;
				&:after{
					content:"\e902";
					vertical-align:sub;
				}
			}
			a.about:after{
				@include 頁首選單_偽元素_icon設定預設值();
				background-position:$媽咪佳肋比_頁首選單_關於我們icon背景圖定位;
				top:1px;
			}
			a.select{
				color:$媽咪佳肋比_網頁_藍;
				background-color:#fff;
			}
			li#language{
				height: auto;
				border-bottom:none;
				&:hover, &:focus{
					a.language{@extend a.select;}
					ul{margin-top:0;}
					li{
						height: 50px;
						a{line-height:50px;}
					}					
				}
			}
			ul{
				width: 100%;
				width:calc(100% + 2px);
				margin-left:-1px;
				margin-top:-50px;
				@include transition(margin-top .3s);
				li{
					width:50%;
					height:25px;
				}
				li:nth-child(even){border-left:none;}
				a{line-height:25px;}
			}
			li.fb, li.line{
				width:50%;
				a{
					text-indent:150%;
					overflow:hidden;
					white-space:nowrap;
					position: relative;
					&:after{
						font-size: 26px;
						text-indent:0;
						line-height:40px;
						width:40px;
						height:40px;
						border-radius:50%;
						box-shadow:0 1px 3px rgba(0,0,0,0.2);
						margin:-20px 0 0 -20px;
						position: absolute;
						top: 50%;
						left: 50%;
					}
					&:active{color:#fff;}
				}
			}
			li.fb{
				a:after{
					content:"\ea90";
					background-color:#3b5998;
				}
			}
			li.line{
				border-left:none;
				a:after{
					content:"\e903";
					background-color:#00b900;
				}
			}
		}
		>ul.second>li>a:after{
			vertical-align:sub;
			display: inline-block;
			margin-right:6px;
			position: relative;
			top:0;
			left:0;
		}
	}
//	共用CSS樣式區
	article{
		width:100%;
		max-width:$媽咪佳肋比_桌機版_最大寬度設定;
		min-height:100%;
		padding:15px 0;
		.carteBox:nth-of-type(1), .reserveBox:nth-of-type(1){margin-top:16px;}
		.activityBox:nth-of-type(1), .activityInPageBox:nth-of-type(1){margin-top:18px;}
		>div[class*="Box"], >a[class*="Box"]{
			box-shadow:0 2px 10px rgba(0, 0, 0, 0.4);
			margin:0 auto 63px;
			position: relative;
		}
	}
	h1[class$="Title"], h2[class$="Title"], h3[class$="Title"]{
		font-size:20px;
		font-weight:normal;
		min-width:185px;
		padding:0 12px;
		margin:0;
		position: absolute;
		em{
			font-style: normal;
			display: block;
			@include transform(skew(-6deg));
		}
	}
	.darkTextTitle{
		color:transparent;
		line-height:36px;
		height:36px;
		background-color:$媽咪佳肋比_網頁_藍;
		top:-19px;
		left:15px;
		&:after{
			@include 偽元素三角形相對定位CSS設定預設值(8px,transparent transparent $媽咪佳肋比_網頁_深藍 $媽咪佳肋比_網頁_深藍);
			top: 0;
			right:-16px;
		}
	}
	.darkTextTitle em:first-line{
		color:#fff;
		text-shadow:1px 1px 0 rgba(0,0,0,0.8);
	}
	h1[class^="light"][class$="Title"], h2[class^="light"][class$="Title"], h3[class^="light"][class$="Title"]{
		line-height:36px;
		height:42px;
		background-color:#fff;
		border-width:3px;
		border-style:solid;
		top:-22px;
		left:14px;
		&:after{
			top:16px;
			left:-20px;
		}
	}
	.lightTextTitle{
		color:transparent;
		border-color:$媽咪佳肋比_網頁_紅 $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_紅;
		z-index:10;
		&:after{
			@include 偽元素三角形相對定位CSS設定預設值(12px,$媽咪佳肋比_網頁_紅 transparent transparent $媽咪佳肋比_網頁_紅);
		}
	}
	.lightTextTitle em:first-line{color:$媽咪佳肋比_網頁_深藍;}
	.goToBtnBox{
		text-align: center;
		margin-top:25px;
	}
	.goToBtn{
		color:#fff;
		font-size:21px;
		letter-spacing:3px;
		text-shadow:0 0 4px rgba(0,0,0,0.5);
		min-width:110px;
		height: 46px;
		border:2px solid $媽咪佳肋比_網頁_藍;
		display: inline-block;
		padding:0 28px;
		margin:15px auto;
		position: relative;
		&:before{
			content:"";
			width:100%;
			height:100%;
			background-color:$媽咪佳肋比_網頁_紅;	
			box-shadow:0 0 0 1px $媽咪佳肋比_網頁_紅;
			position:absolute;
			top:6px;
			left:6px;
			@include transition(all .3s);
			mix-blend-mode:multiply;
		}
		.wordBox{
			width:100%;
			height:100%;
			overflow: hidden;
			span{
				line-height: 42px;
				display: block;
				position: relative;
				top: 0;
				@include transition(all .3s);
				&:after{
					content:attr(data-title);
					width: 100%;
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
				}
			}
		}
		.arrow{
			width:32px;
			height:12px;
			position: absolute;
			top: 16px;
			left: -28px;
			@include transition(all .3s);
			&:before, &:after{
				content:"";
				display:inline-block;
				vertical-align:top;
			}
			&:before{
				width:20px;
				height:4px;
				background-color:$媽咪佳肋比_網頁_藍;
				box-shadow: 3px 0 0 $媽咪佳肋比_網頁_藍;
				margin-top: 4px;
			}
			&:after{
				width: 0;
				height: 0;
				border-width:6px 0 6px 12px;
				border-style:solid;
				border-color:transparent transparent transparent $媽咪佳肋比_網頁_藍;
			}
		}
		&:hover{
			&:before{
				top:0px;
				left:0px;
			}
			.arrow{left: -10px;}
			.wordBox{
				span{top:-100%;}
			} 
		}
	}
	div[class*="BackgroundGo"], main[class*="BackgroundGo"]{background-size: 10px 10px;}
	.whiteBackgroundGo{
		background-color:#fff;
		background-image: -webkit-radial-gradient(#fff 78%,#f2f2f2 78%);
		background-image: -moz-radial-gradient(#fff 78%,#f2f2f2 78%);
		background-image: radial-gradient(#fff 78%,#f2f2f2 78%);
	}
	.redBackgroundGo{
		background-color:$媽咪佳肋比_網頁_紅;
		background-image: -webkit-radial-gradient($媽咪佳肋比_網頁_紅 78%,$媽咪佳肋比_網頁_signIn深紅 78%);
		background-image: -moz-radial-gradient($媽咪佳肋比_網頁_紅 78%,$媽咪佳肋比_網頁_signIn深紅 78%);
		background-image: radial-gradient($媽咪佳肋比_網頁_紅 78%,$媽咪佳肋比_網頁_signIn深紅 78%);
	}
	.blueBackgroundGo{
		background-color:$媽咪佳肋比_網頁_藍;
		background-image: -webkit-radial-gradient($媽咪佳肋比_網頁_藍 78%,$媽咪佳肋比_網頁_signOut深藍 78%);
		background-image: -moz-radial-gradient($媽咪佳肋比_網頁_藍 78%,$媽咪佳肋比_網頁_signOut深藍 78%);
		background-image: radial-gradient($媽咪佳肋比_網頁_藍 78%,$媽咪佳肋比_網頁_signOut深藍 78%);
	}
	div[class*="PageBox"]{
		color:#333;
		letter-spacing:1px;
		line-height:1.8;
		text-shadow:0 0 1px #fff,
					0 1px 0 #fff,
					1px 0 0 #fff,
					0 -1px 0 #fff,
					-1px 0 0 #fff,
					1px 1px 0 #fff,
					-1px 1px 0 #fff,
					-1px -1px 0 #fff,
					1px -1px 0 #fff;
		width: 92%;
		max-width:1000px;
		height: auto;
		border-width:3px;
		border-style:solid;
		&:before{
			@include 偽元素三角形相對定位CSS設定預設值(65px,rgba(255,255,255,0.25) transparent transparent rgba(255,255,255,0.25));
			top: 0;
			left: 0;
		}		
	}
//	首頁index區
	html.index, body.index, body.index article{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	body.index article{
		max-width:100%;
		margin-top:0;
	}
	body.index article > input{
		position:absolute;
		top:-20px;
		left:-20px;
	}
	#indexBannerPage{
		text-align:center;
		width:100%;
		margin-bottom:15px;
		position:absolute;
		bottom:0;
		left:0;
		z-index:90;
		label{
			text-indent:100%;
			white-space:nowrap;
			width:38px;
			height:38px;
			cursor:pointer;
			display: inline-block;
			border: 2px solid rgba(255,255,255,.7);
			border-radius:50%;
			box-shadow:0 0 10px rgba(0,0,0,0.6), 0 0 6px rgba(0,0,0,0.6) inset;
			margin:28px 15px 0;
			overflow:hidden;
			position:relative;
			&:after{
				content:"";
				width:28px;
				height:28px;
				background:rgba(255,255,255,.7);
				border-radius: 50%;
				position: absolute;
				left: 50%;
				top: 50%;
				@include transition(transform .6s);
				@include transform(translate(-50%, -50%) scale(0));
			}
			&:hover:after{
				@include transform(translate(-50%, -50%) scale(1));
			}
		}
	}
	#indexBannerSlideBox{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		@include transition(all 1s cubic-bezier(0.2, -0.2, 0.2, 1.2));
		div[class^="indexBanner_"]{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size:cover;
			background-position: center;
			position:absolute;
			overflow:hidden;
			h2{
				color:#fff;
				font-size:36px;
				line-height:1.5;
				text-align:center;
				width:110%;
				background-color:$媽咪佳肋比_網頁_透明黑;
				padding:10px 6%;
				margin:0;
				@include transform(translateY(50%) skew(-6deg));
				position: absolute;
				bottom:50%;
				left:-5%;
			}
			h2.red, h2.blue{mix-blend-mode:multiply;}
			h2.red{background-color:$媽咪佳肋比_網頁_紅;}
			h2.blue{background-color:$媽咪佳肋比_網頁_藍;}
			video, iframe{
				min-height:100%;
				min-width:100%;
				height:auto;
				width:auto;
				display:block;
				position: absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%, -50%));
			}
		}
		.indexBanner_1{
			top:0;
			left:0;
			background-image:url(../images/index_banner/1.jpg);
		}
		.indexBanner_2{
			top:0;
			left:100%;
			background-image:url(../images/index_banner/2.jpg);
		}
		.indexBanner_3{
			top:100%;
			left:0;
			background-image:url(../images/index_banner/3.jpg);
		}
		.indexBanner_4{
			top:100%;
			left:100%;
			background-color:#262626;	
		}
		.indexBanner_5{
			top:200%;
			left:0;
		}
		.indexBanner_6{
			top:200%;
			left:100%;
			background-image:url(../images/index_banner/7.jpg);
		}
		.indexBanner_7{
			top:300%;
			left:0;
			background-image:url(../images/index_banner/8.jpg);
		}
		.indexBanner_8{
			top:300%;
			left:100%;
			background-image:url(../images/index_banner/9.jpg);
		}
	}
	input#bannerControl_1:checked ~ #indexBannerSlideBox{
		top:0%;
		left:0%;
	}
	input#bannerControl_2:checked ~ #indexBannerSlideBox{
		top:0%;
		left:-100%;
	}
	input#bannerControl_3:checked ~ #indexBannerSlideBox{
		top:-100%;
		left:0%;
	}
	input#bannerControl_4:checked ~ #indexBannerSlideBox{
		top:-100%;
		left:-100%;
	}
	input#bannerControl_5:checked ~ #indexBannerSlideBox{
		top:-200%;
		left:0%;
	}
	input#bannerControl_6:checked ~ #indexBannerSlideBox{
		top:-200%;
		left:-100%;
	}
	input#bannerControl_7:checked ~ #indexBannerSlideBox{
		top:-300%;
		left:0%;
	}
	input#bannerControl_8:checked ~ #indexBannerSlideBox{
		top:-300%;
		left:-100%;
	}
	input#bannerControl_1:checked ~ #indexBannerPage .indexBannerPage_1,
	input#bannerControl_2:checked ~ #indexBannerPage .indexBannerPage_2,
	input#bannerControl_3:checked ~ #indexBannerPage .indexBannerPage_3,
	input#bannerControl_4:checked ~ #indexBannerPage .indexBannerPage_4,
	input#bannerControl_5:checked ~ #indexBannerPage .indexBannerPage_5,
	input#bannerControl_6:checked ~ #indexBannerPage .indexBannerPage_6,
	input#bannerControl_7:checked ~ #indexBannerPage .indexBannerPage_7,
	input#bannerControl_8:checked ~ #indexBannerPage .indexBannerPage_8,
	input#bannerControl_9:checked ~ #indexBannerPage .indexBannerPage_9{
		&:after{@include transform(translate(-50%, -50%) scale(1));}
	}
//	菜單article區
	%bannerContainerBeforeAfter{
		content:"";
		width:70px;
		height:100%;
		position:absolute;
		top:0;
		z-index:20;
	}	
	#bannerContainer{
		width:100%;
		height:0;
		padding-bottom:47.5%;
		box-shadow: 0 1px 10px rgba(0,0,0,.5);
		overflow: hidden;
		margin:85px 0 10px;
		position: relative;
		&:before{
			@extend %bannerContainerBeforeAfter;
			@include background(linear-gradient(90deg, rgba(255,255,255,.35), transparent));
			left:0;
		}
		&:after{
			@extend %bannerContainerBeforeAfter;
			@include background(linear-gradient(90deg, transparent, rgba(255,255,255,.35)));
			right:0;
		}
	}
	#bannerControlPrev{
		border-left-width:6px;
		border-radius: 0 6px 6px 0;
		left:0;
		@extend %左右箭頭icon基本設定;
		&:before{
			border-color: $媽咪佳肋比_網頁_透明黑 transparent $媽咪佳肋比_網頁_透明黑 $媽咪佳肋比_網頁_透明黑;
			@extend %左右箭頭icon偽元素基本設定;
		}
		&:after{
			border-color: transparent $媽咪佳肋比_網頁_透明黑 transparent $媽咪佳肋比_網頁_透明黑;
			@extend %左右箭頭icon偽元素基本設定;
		}
	}
	#bannerControlNext{
		border-right-width:6px;
		border-radius: 6px 0 0 6px;
		right:0;
		@extend %左右箭頭icon基本設定;
		&:before{
    		border-width: 17px 0 17px 13px;
			border-color: transparent $媽咪佳肋比_網頁_透明黑 transparent $媽咪佳肋比_網頁_透明黑;
    		@extend %左右箭頭icon偽元素基本設定;
		}
		&:after{
			border-width: 17px 0 17px 13px;
			border-color: $媽咪佳肋比_網頁_透明黑 $媽咪佳肋比_網頁_透明黑 $媽咪佳肋比_網頁_透明黑 transparent;
			@extend %左右箭頭icon偽元素基本設定;
		}
	}
	#bannerSlideBox{
		width:$媽咪佳肋比_菜單頁id_bannerSlideBox寬度;
		height: 100%;
		position:absolute;
		top:0;
		left:0;
		@include transition(left .4s);
		>li{
			width:$媽咪佳肋比_菜單頁bannerSlideBox_li寬度;
			height:100%;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			float:left;
		}
		>li.active{
			@include animation(articleBannerMove 8s ease-out both);
		}
		#bannerImg_1{background-image:url(../images/carte_banner/01.jpg);}
		#bannerImg_2{background-image:url(../images/carte_banner/02.jpg);}
		#bannerImg_3{background-image:url(../images/carte_banner/03.jpg);}
		#bannerImg_4{background-image:url(../images/carte_banner/04.jpg);}
		#bannerImg_5{background-image:url(../images/carte_banner/05.jpg);}
		#bannerImg_6{background-image:url(../images/carte_banner/06.jpg);}
		#bannerImg_7{background-image:url(../images/carte_banner/07.jpg);}
		#bannerImg_8{background-image:url(../images/carte_banner/08.jpg);}
	}
	body.index article, #bannerSlideBox{
		&:after{
			content:"";
			width: 100%;
			height: 100%;
			background-image:-webkit-radial-gradient(rgba(0,0,0,.15) 25%, transparent 25%);
			background-image:-moz-radial-gradient(rgba(0,0,0,.15) 25%, transparent 25%);
			background-image:radial-gradient(rgba(0,0,0,.15) 25%, transparent 25%);
			background-size:4px 4px;
			pointer-events:none;
			position: absolute;
			top:0;
			left:0;
		}
	}
	@include keyframes(articleBannerMove) {
		0% {background-position:47% 50%;}
		100% {background-position:53% 50%;}  
	}
	#bannerPagi{
		font-size:0;
		text-align: center;
		width: 100%;
		margin-bottom:5px;
		li{
			width: 18px;
			height: 18px;
			display: inline-block;
			border: 2px solid rgba(0,0,0,.7);
			border-radius: 50%;
			cursor: pointer;
			margin: 0 12px;
			position: relative;
			&:after{
				content:"";
				width: 10px;
				height: 10px;
				background:$媽咪佳肋比_網頁_透明黑;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				top: 50%;
				@include transition(transform .6s);
				@include transform(translate(-50%, -50%) scale(0));
			}
		}
		li:first-child{margin-left:0;}
		li:last-child{margin-right:0;}
		li.active:after, li:hover:after{
			@include transform(translate(-50%, -50%) scale(1));
		}
	}
	.carteBox{
		color:#fff;
		width: 320px;
		height: 320px;
		border:3px solid #fff;
		&:before{
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			box-shadow:0 0 8px rgba(0,0,0,0.6) inset;
			position:absolute;
			top: 0;
			left: 0;
		}
		.productBox{
			line-height:34px;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			text-align: right;
			min-width: 240px;
			height: 34px;
			position: absolute;
			bottom:-20px;
			right: 15px;
			>p{
				display:inline-block;
				margin:0;
				padding:0 11px;
				background-color:$媽咪佳肋比_網頁_紅;
				box-shadow:0 0 4px rgba(0,0,0,.3);
				position: relative;
				&:after{
					@include 偽元素三角形相對定位CSS設定預設值(8px,$媽咪佳肋比_網頁_黃 transparent transparent $媽咪佳肋比_網頁_黃);
					top: 0;
					left: 0;
				}
			}
			.packagePrice{
				&:empty{display:none;}
				&:before{content:"套餐 $";}
				margin-right: 10px;
			}
			.singlePrice{
				&:before{content:"單品 $";}
			}
		}
		img{vertical-align:top;}
	}
//	活動activity區
	.activityBox{
		color:$媽咪佳肋比_網頁_藍;
		width: 300px;
		height: 300px;
		border:3px solid $媽咪佳肋比_網頁_藍;
		@include transition(box-shadow .2s);
		div{overflow: hidden;}
		img{
			vertical-align:top;
			@include transition(transform .2s);
		}
		&:before{
			@include 偽元素三角形相對定位CSS設定預設值(65px,rgba(255,255,255,0.25) transparent transparent rgba(255,255,255,0.25));
			top: 0;
			left: 0;
			z-index:10;
		}
		&:hover{
			box-shadow:0 14px 18px -4px rgba(0,0,0,.6);
			img{@include transform(scale(1.05));}
		}
	}
//	活動內頁activityInpage區 & 關於我們
	.activityInPageBox{
		border-color:$媽咪佳肋比_網頁_藍;
		padding:8% 4.3% 4.3%;
		padding:calc(4.3% + 19px) 4.3% 4.3%;
		img{vertical-align:top;}
		p:first-of-type{
			font-size:21px;
			font-weight:bold;
			line-height:2;
		}
	}
	#aboutMe{
		p:first-of-type{
			font-size:18px;
			font-weight:normal;
			line-height:1.8;
		}
	}
//	預約reserve區
	.reserveBox{
		color:$媽咪佳肋比_網頁_紅;
		width:320px;
		border:3px solid #fff;
		>div{
			margin:11px 5px;
			float: left;
			em{
				text-indent:100%;
				white-space:nowrap;
				width: 28px;
				height: 24px;
				display:inline-block;
				overflow:hidden;
				vertical-align:top;
				position: relative;
				@include transition(all .3s);
				&:after{
					text-indent:0;
					@extend %偽元素icon-font基本設定;
					@extend %偽元素icon-font共用icon設定;
					top:0;
					left:0;
				}
			}
		}
		h3{display: none;}
		.place #MAP{
			width:0;
			height:0;
			@include transition(width .3s, height .3s);
		}
		.place a:hover{text-decoration:underline;}
		.place em:after{content:"\e905";}
		.time em:after{content:"\e90a";}
		.tel em:after{content:"\e909";}
		.reserveInfoBtn{
			width: 40px;
			height: 40px;
			float: right;
			@extend %紅色按鈕CSS設定預設值;
			&:active{
				@extend %紅色按鈕按下時CSS設定預設值;
			}
			span{
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				@include transition(transform .3s);
				&:before, &:after{
					content:"";
					width: 26px;
					height: 6px;
					display: block;
					background-color:#fff;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -3px 0 0 -13px;
					@include transition(transform .3s);
				}
				&:after{
					@include transform(rotate(-90deg));
				}
			}
		}
		&:after{
			content:"";
			display:block;
			clear:both;
		}	
	}
	.reserveBox.click{
		>div{
			float:none;
			em{	
				vertical-align:text-top;
				margin-right:6px;
			}
		}
		h3{
			font-size: 18px;
			font-weight: normal;
			line-height:1.8;
			display:inline;
		}
		.place em{margin-right:-2px;}
		.place #MAP{
			display:block;
			width:100%;
			height:180px;
			background-color:#fff;
			// iframe{vertical-align:top;}
		}
		.place a{
			color:$媽咪佳肋比_網頁_紅;
			display: inline;
			@include animation(hyperlinkBottomLine 1s .5s 3);
		}
		.tel a{
			color:#fff;
			text-align: center;
			line-height:39px;
			width:126px;
			height:38px;
			display: inline-block;
			@extend %紅色按鈕CSS設定預設值;
			&:active{
				@extend %紅色按鈕按下時CSS設定預設值;
			}
		}
		.reserveInfoBtn{
			span{
				@include transform(rotate(180deg));
				&:after{@include transform(rotate(0deg));}
			}
		}
	}
	@include keyframes(hyperlinkBottomLine) {
		0% {text-decoration: underline;}
		100% {text-decoration: none;}
	}					
//	goTop、signIn區
	#goTop, #signIn{
		right:10px;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	#goTop{
		width: 40px;
		height: 32px;
		cursor:pointer;
		display:none;
		border-width:13px 10px 15px 10px;
		border-style:solid;
		border-color:$媽咪佳肋比_網頁_透明黑;
		border-radius:13px;
		box-sizing: content-box;
		position:fixed;
		bottom:85px;
		z-index:100;
		&:before{
			@extend %trianglePseudoElement;
			border-color: transparent $媽咪佳肋比_網頁_透明黑 transparent $媽咪佳肋比_網頁_透明黑;
		}
		&:after{
			@extend %trianglePseudoElement;
			border-color:transparent  transparent $媽咪佳肋比_網頁_透明黑 transparent;
		}
	}
	%trianglePseudoElement{
		content:"";
		border-width:0 20px 16px 20px;
		border-style: solid;
		width: 0;
		height: 0;
		display: block;
	}
	#signIn{
		width:60px;
		height:60px;
		cursor:pointer;
		border-radius:13px;
		overflow:hidden;
		box-shadow: 0 1px 5px rgba(0,0,0,.5);
		position:fixed;		
		bottom:20px;
		z-index:100;
		transition:all .3s;
		a{
			color:#fff;
			text-align: center;
			width:100%;
			height:100%;
		}
		.signIn{background-color:$媽咪佳肋比_網頁_紅;}
		.signOut{background-color:$媽咪佳肋比_網頁_藍;}
		.signIn:after{content:"\e908";}
		.signOut:after{content:"\e904";}
		a:after{
			@extend %偽元素icon-font基本設定;
			font-size:60px;
			line-height:60px;
			width:100%;
			height:100%;
			top:0;
			left:0;
		}
	}
	#signIn.click{
		width:100%;
		height:100%;
		border-radius:0;
		overflow:hidden;
		position:fixed;		
		right: 0;
	    bottom: 0;
		z-index:150;
		a:after{font-size:0;}
	}
//	頁尾footer區
	footer{
		width: 100%;
		height: 52px;
		background-color:#fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		padding:5px 0;
		p{
			color:#808080;
			font-size: 12px;
			line-height:21px;
			letter-spacing:0;
			text-align:center;
			margin: 0;
			span{display: block;}
		}
	}
	footer.fixed{
		position: fixed;
		bottom: 0;
	}
//	會員登入&資訊LightBox
	div[id^="lightBoxMKmember"]{
		height:100%;
		overflow: auto;
		position:fixed;
		top:0;
		left:0;
		z-index:150;
	}
	main, div[id^="lightBoxMKmember"]{
	    width: 100%;
		min-height: 100%;
	    padding:86px 0 15px;
	    .signInPageBox, .signOutPageBox{
			box-shadow: 0 3px 15px rgba(0,0,0,0.5);
			padding: calc(4.3% + 10px) 4.3% 4.3%;
			margin:0 auto 63px;
			position: relative;
		}
	}
	#lightBoxMKmemberLogin{display: none;}
	#lightBoxMKmemberInformation{display: none;}
	.lightBoxLink{
		color:$媽咪佳肋比_網頁_藍;
		width: 120px;
		margin:20px 15px 15px 43px;
		position: relative;
		@include animation(hyperlinkBottomLine .75s .5s 3);
		&:before{
			@extend %偽元素icon-font基本設定;
			@extend %偽元素icon-font共用icon設定;
			text-shadow:none;
			top:4px;
			left:-28px;
		}
		&:hover{
			text-shadow:none;
			text-decoration: underline;
		}
	}
	#forgetAccountPassword{
		&:before{content:"\e906";}
	}
	#changeMemberInfo{
		&:before{content:"\e971";}
	}
	.memberInformationBox.inputBox{
		height: auto;
		margin:40px auto 0;
	}
	.memberInformationBox{		
		@include animation(memberInfoBoxGo .5s .5s forwards);
		div[id^="MKmember"]{
			color:$媽咪佳肋比_網頁_藍;
			text-align:right;
			padding:0 5px;
			&:before{
				color:$媽咪佳肋比_網頁_紅;
				position: absolute;
				top:0;
				left:5px;
			}
		}
		&:before{
			@include animation(memberInfoBoxBeforeGo .5s .5s forwards);
		}
		&:after{
			@include animation(memberInfoBoxAfterGo .5s .5s forwards);	
		}
	}
	#MKmemberAccount{
		&:before{content:"帳號";}
	}
	#MKmemberCoins{
		&:before{
			content:"點數";
			line-height: 100px;
		}
		span{
			line-height: 30px;
			display: block;
		}
		span:first-child{padding:15px 0 5px 0;}
		span:last-child{padding:5px 0 15px 0;}
	}
	#MKmemberBarCode{
		color:#333;
		line-height:1;
		letter-spacing: 1px;
		text-align: center;
		padding:20px 5px;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	@include keyframes(memberInfoBoxGo) {
		0% {box-shadow:0 0 0 #ebebeb, 0 0 0 #ebebeb;}
		100% {box-shadow: 15px 0 0 #ebebeb, -15px 0 0 #ebebeb;}
	}
	@include keyframes(memberInfoBoxBeforeGo) {
		0% {
			width:100%;
			border-color:$媽咪佳肋比_網頁_紅 transparent transparent $媽咪佳肋比_網頁_紅;
		}
		100% {
			width:50%;
			border-color:$媽咪佳肋比_網頁_紅 transparent $媽咪佳肋比_網頁_紅 $媽咪佳肋比_網頁_紅;
			@include transform(translate(-15px,0));
		}
	}
	@include keyframes(memberInfoBoxAfterGo) {
		0% {
			width:100%;
			border-color:transparent $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 transparent;
		}
		100% {
			width:50%;
			border-color:$媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 transparent;
			left:50%;
			@include transform(translate(15px,0));
		}
	}
//	註冊登入頁面
	.signOutPageBox, .lightSignOutTitle{border-color:$媽咪佳肋比_網頁_淡黃 $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_淡黃;}
	.signInPageBox, .lightSignInTitle{border-color:$媽咪佳肋比_網頁_淡黃 $媽咪佳肋比_網頁_紅 $媽咪佳肋比_網頁_紅 $媽咪佳肋比_網頁_淡黃;}
	.lightSignInTitle, .lightSignOutTitle{
		color:#333;
		&:after{
			@include 偽元素三角形相對定位CSS設定預設值(12px,$媽咪佳肋比_網頁_淡黃 transparent transparent $媽咪佳肋比_網頁_淡黃);
		}
	}
	.goToIndex{
		width: 50px;
		height: 50px;
		background-color:$媽咪佳肋比_網頁_透明黑;
		border-radius:50%;
		position: absolute;
		top: -71px;
		right: 0;
		&:after, &:before{
			content:"";
			width:36px;
			height:8px;
			background-color:#fff;
			border-radius:4px;
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin: auto;
			@include transform(rotate(45deg));
		}
		&:before{
			@include transform(rotate(135deg));
		}
	}
	#logIn, #logOut{
		ins{
			color:$媽咪佳肋比_網頁_紅;
			text-decoration:none;
			font-size:16px;
			display: block;
			margin:0 15px;
			&:before{content:"* ";}
		}
		ins:empty:before{content:"";}
	}
	.inputBox{
		line-height:50px;
		text-shadow:none;
		width:calc(100% - 30px);
		max-width:300px;
		height:50px;
		background:#ebebeb;
		margin:45px 15px 0;
		position:relative;
	}
	input[id^="MKmember"]{
		color:#333;
		width:100%;
		height:100%;
		background:transparent;
		border:none;
		opacity:0;
	}
	.MKlabel{
		color:#ba163a;
		width:100%;
		height:100%;
		display:block;
		box-shadow:0px 0 0 #ebebeb, -0px 0 0 #ebebeb;
		pointer-events:none;
		padding:0 18px;
		position:absolute;
		top:0;
		left:0;
		@include transition(box-shadow .3s);
	}
	.MKlabelText{
		width:100%;
		display: block;	
		small{color:#888;}
	}
	.MKlabel, #residence, .memberInformationBox{
		&:before, &:after{
			content:"";
			width:100%;
			height:100%;
			border-width:3px;
			border-style:solid;
			pointer-events:none;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(all .5s);
		}
	}
	.MKlabel, #residence, .memberInformationBox{
		&:before{border-color:$媽咪佳肋比_網頁_紅 transparent transparent $媽咪佳肋比_網頁_紅;}
	}
	.MKlabel, #residence, .memberInformationBox{
		&:after{border-color:transparent $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 transparent;}
	}
	input[id^="MKmember"]:focus, input[id^="MKmember"].click{
		opacity:1;
		@include transition-delay(.3s);
	}
	input[id^="MKmember"]:focus + .MKlabel, input[id^="MKmember"]:focus + .MKlabel, input[id^="MKmember"].click + .MKlabel{
		box-shadow: 15px 0 0 #ebebeb, -15px 0 0 #ebebeb;
		&:before, &:after{width:50%;}
		&:before{
			border-color:$媽咪佳肋比_網頁_紅 transparent $媽咪佳肋比_網頁_紅 $媽咪佳肋比_網頁_紅;
			transform: translate(-15px,0);
		}
		&:after{
			border-color:$媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 transparent;
			left:50%;
			transform: translate(15px,0);
		}
	}
	input[id^="MKmember"]:focus + .MKlabel .MKlabelText, input[id^="MKmember"].click + .MKlabel .MKlabelText{
		@include animation(MKlabelTextGo .3s forwards);
	}
	@include keyframes(MKlabelTextGo) {
		0% {
			opacity:0;
			@include transform(translate(0,0)  scale(0.1));
		}
		100% {
			opacity:1;
			@include transform(translate(-18px,-40px) scale(1));
		}
	}
	#residence{
		width:100%;
		max-width:330px;
		margin:40px 0 0;
		span{
			color:$媽咪佳肋比_網頁_紅;
			text-shadow:none;
			margin-left:16px;
		}
		select{
			color: #333;
			border: transparent;
			background: transparent;
			margin-left:5px;
		}
	}
	#residence.click{
		&:before, &:after{width:45%;}
		&:before{
			border-color:$媽咪佳肋比_網頁_紅 transparent $媽咪佳肋比_網頁_紅 $媽咪佳肋比_網頁_紅;
		}
		&:after{
			border-color:$媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 $媽咪佳肋比_網頁_藍 transparent;
			left:55%;
		}
	}

//	iPhone4、5 手機版
@include breakpoint(max-width 320px){
	.reserveBox{width:300px;}
	#indexBannerSlideBox div[class^="indexBanner_"] h2{font-size:32px;}
}

/** ===== iPhone5以上，平板 「以上」 版型區 ===== **/
@include breakpoint(568px){
//	loading區
	#loading.load{
		h2{margin-top:-220px;}
		h3{margin-top:-170px;}
		p{margin-top:150px;}
	}
	#Moms_Kalbi_logo{
		width: 250px;
		height: 250px;
		margin:-122px 0 0 -120px;
	}
	div[class$="_triangle"]{border-width: 50px;}
	.up_left_triangle{
		top: -22px;
	    left: 3px;
	}
	.up_right_triangle{
		top: 3px;
	    right: -22px;
	}
	.down_right_triangle{
		bottom: -22px;
	    right: 3px;
	}
	.down_left_triangle{
		bottom: 3px;
	    left: -22px;
	}
//	共用CSS樣式區
	article{
		.carteBox:nth-of-type(even), .activityBox:nth-of-type(even){margin-left:0;}
		.carteBox:nth-of-type(-n+2){margin-top:16px;}
		.activityBox:nth-of-type(-n+2){margin-top:18px;}
		&:before, &:after{
			content:"";
			display:block;
		}
		&:after{clear: both;}
	}
//	菜單article區
	#bannerContainer{
		&:before, &:after{width:80px;}
	}
	#bannerControlPrev, #bannerControlNext{
		width:30px;
		height:38px;
		border-width:31px 12px;
	}
	#bannerControlPrev{
		border-left-width:8px;
		&:before, &:after{border-width: 19px 15px 19px 0;}
	}
	#bannerControlNext{
		border-right-width:8px;
		&:before, &:after{border-width: 19px 0 19px 15px;}
	}
	.carteBox{
		width: 41%;
		height: 41%;
		float: left;
		.dishName{
			font-size:20px;
			min-width:170px;
		}
		.productBox{	
			line-height:32px;
			height:32px;
			min-width: 220px;
			bottom:-19px;
			>p{
				font-size:16px;
				padding:0 8px;
				&:after{border-width:7px;}
			}
			.packagePrice{margin-right:8px;}
		}
	}
	article div.carteBox{margin:0 6% 65px;}
//	活動activity區
	.activityBox{
		width: 41%;
		height: 41%;
		float: left;
		&:before{border-width:75px;}
	}
	article a.activityBox{margin:0 6% 65px;}
//	活動內頁activityInpage區	
	.activityInPageBox{
		.small{
			display: inline-block;
			vertical-align:top;
			img{
				max-width:300px;
				max-height:300px;
			}
		}
		.small+p{
						width:calc(100% - 324px);
			display: inline-block;
			margin-left:18px;
		}
	}
//	預約reserve區
	.reserveBox, .reserveBox.click{
		width:92%;
		max-width:1000px;
		padding:30px 15px 15px;		
		img{width:48%;}
		>div{
			margin: 10px 0px;
			em{				
				vertical-align:text-top;
				margin-right:6px;
			}
		}
		h3{
			font-size: 18px;
			font-weight: normal;
			line-height:1.8;
			display:inline;
		}
		.place{
			width: 48%;
			margin:0;
			float: right;
		}
		.place #MAP{
			width:100%;
			height:200px;
			box-shadow:0 0 0 2px #e8e8e8;
			margin-top:10px;
		}
		.place a{
			color:$媽咪佳肋比_網頁_紅;
			display: inline;
			@include animation(hyperlinkBottomLine .75s .5s 3);
		}
		.tel, .time{width: 50%;}
		.tel a{
			color:#fff;
			text-align:center;
			line-height:39px;
			width:126px;
			height:38px;
			display: inline-block;
			background-color:$媽咪佳肋比_網頁_紅;
			border-radius:6px;
			box-shadow:inset 0 0 0 1px rgba(0,0,0,.2), inset 0 2px 0 rgba(255,255,255,.05), 0 2px 1px $媽咪佳肋比_網頁_淡紅 inset, inset 0 -4px 0 $媽咪佳肋比_網頁_深紅, 0 2px 4px 2px rgba(0,0,0,.1);
			box-sizing:content-box;
			margin:0 2px 2px 0;
			padding-bottom:4px;
			@include transition(all .3s .4s);
			&:active{
				box-shadow:inset 0 0 0 1px rgba(0,0,0,.2), inset 0 2px 0 rgba(255,255,255,.05), 0 2px 1px $媽咪佳肋比_網頁_淡紅 inset, inset 0 0 0 $媽咪佳肋比_網頁_深紅, 0 2px 4px 2px rgba(0,0,0,.05);
				padding-bottom: 0;
				margin-top: 4px;
				@include transition(all .3s);
			}
		}
		.reserveInfoBtn{display:none;}
	}
//	會員登入&資訊LightBox
	#lightBoxMKmemberInformation .lightBoxLink{
		width: 270px;
		margin: 20px auto 15px;
	}
}

//	iPhone4以上手機拿橫的時候
@include breakpoint(500px (max-width 736px) (orientation landscape)){
//	loading區
	#loading.load{
		h2{margin-top:-200px;}
		h3{margin-top:-150px;}
		p{margin-top:130px;}
	}
	#Moms_Kalbi_logo{
		width: 210px;
		height: 210px;
		margin:-102px 0 0 -100px;
	}
	div[class$="_triangle"]{border-width: 35px;}
	.up_left_triangle{
		top: -13px;
	    left: 5px;
	}
	.up_right_triangle{
		top: 5px;
	    right: -13px;
	}
	.down_right_triangle{
		bottom: -13px;
	    right: 5px;
	}
	.down_left_triangle{
		bottom: 5px;
	    left: -13px;
	}
//	首頁index區
	#indexBannerPage{margin-bottom:25px;}
//	菜單article區
	#bannerContainer{padding-bottom:37.11%;}
}

@include breakpoint(700px){
//	預約reserve區
	.reserveBox, .reserveBox.click{
		.place #MAP{height:240px;}
	}
//	活動內頁activityInpage區	
	.activityInPageBox{
		.small img{
			max-width:350px;
			max-height:350px;
		}
		.small+p{
			width:calc(100% - 374px);
			display: inline-block;
			margin-left:18px;
		}
	}
//	goTop、signIn區
	#goTop, #signIn{right:20px;}
	#goTop{
		width: 44px;
		height: 36px;
		border-width:16px 13px 18px 13px;
		border-radius:15px;
		bottom:115px;
		&:before, &:after{border-width:0 22px 18px 22px;}
	}
	#signIn{
		width:70px;
		height:70px;
		border-radius:15px;
		bottom:35px;
		a:after{
			font-size:68px;
			line-height:70px;
		}
	}
//	footer區		
	footer{
		height: 42px;
		padding:0;
		p{
			font-size: 14px;
			line-height:42px;
			span{display:inline;}
			span:first-child{
				border-right:1px solid #808080;
				padding-right:10px;
				margin-right:10px;
			}
		}
	}	
}

@include breakpoint(880px){
//	預約reserve區
	.reserveBox, .reserveBox.click{
		.place #MAP{height:300px;}
	}
}

/** ===== 桌機 「以上」 版型區 ===== **/
@include breakpoint(1017px){
	html, body{letter-spacing:1px;}
//	頁首選單區
	header{
		height:60px;
		#MK_logo{
			a{
				width:$媽咪佳肋比_頁首選單_MKlogo桌機版_寬度長度;
				height:$媽咪佳肋比_頁首選單_MKlogo桌機版_寬度長度;
				&:after{
					background-size:$媽咪佳肋比_頁首選單_MKlogo桌機版_背景圖設定;
					background-position:$媽咪佳肋比_頁首選單_MKlogo桌機版_icon背景圖定位;
				}
			}
		}
	}
	header + *{margin-top:85px;}
	nav{
		font-size:0;
		letter-spacing:-0.25em;
		word-spacing:-0.25em;
		text-align:right;
		width:auto;
		margin-left:80px;
		ul{
			li{
				font-size:20px;
				height:44px;
				margin:8px 10px;
			}
			a{
				text-shadow:0 0 1px $媽咪佳肋比_桌機網頁_頁首選單藍字陰影;
				@include transition(color .3s);
				span{
					display: inline-block;
					position: relative;
					z-index: 10;
				}
				&:after{color:#fff;}
				&:hover{
					color:#fff;
					span{transform:translateX(-2px);}
				}
			}
		}
		ul.first{
			margin-left: 0;
			li.menu{display: none;}
			a{
				&:after{margin-left: 0;}
			}
		}
		ul.second{
			li{
				width:auto;
				border:none;
				background:transparent;
			}
			li:last-child{margin-right:0;}
			a.about{
				&:after{
					top:4px;
					@include transition(transform .3s);
				}
				&:hover:after{@include transform(rotate(180deg));}
			}
			a.about.select:after{@include transform(rotate(180deg));}
			li#language{
				width:98px;
				&:hover{
					>a{color:#fff;}
					ul{height:$媽咪佳肋比_頁首選單_語言選擇_桌機版_高度;}
					li{
						height: auto;
						a{line-height:44px;}
					}
					span{
						display: inline-block;
						transform: translateX(-2px);
					}
				}
			}
			a.language{
				line-height:44px;
				background-color:transparent;
				border-bottom:none;
			}
			ul{
				height: 0;
				display: block;
				padding-top: 8px;
				margin:0;
				overflow: hidden;
				@include transition(height .3s .1s);
				li{
					font-size: 18px;
					width:100%;
					height:44px;
					margin: 0;
				}
				li:last-child{display: none;}
				a{
					color:$媽咪佳肋比_網頁_紅;
					line-height:44px;
					text-shadow:0 0 1px $媽咪佳肋比_桌機網頁_紅字陰影;
					background-color:#fff;
					&:hover{
						text-shadow:none;
						background-color:$媽咪佳肋比_網頁_紅;
					}
				}
			}
			li.fb, li.line{
				width:44px;
				a{color:#fff;}
				a:before{display: none;}
				a:after{
					line-height:44px;
					width: 44px;
					height: 44px;
					box-shadow:none;
					margin:0;
					top:0;
					left:0;
				}
			}
			li.line a:after{font-size:30px;}
		}
		ul.first, ul.second{
			width: auto;
			display: inline-block;
			a{
				color:$媽咪佳肋比_網頁_藍;
				line-height:44px;
				padding:0 10px;
				&:hover{
					color:#fff;
				}
			}
			a.select{
				color:#fff;
				text-shadow:none;
				background-color:transparent;
				span{transform: translateX(-2px);}
			}
		}
		>ul>li>a:before{
			content:"";
			width: 44px;
			height: 44px;
			background-color:$媽咪佳肋比_網頁_藍;
			border-radius:22px;
			position: absolute;
			top:0;
			left:0;
			@include transition(all .3s cubic-bezier(0.5,-0.5,0.5,1.5));
		}
		>ul>li>a:hover:before, >ul>li>a.select:before, ul.second li#language:hover a:before{
			width:100%;
			background-color:$媽咪佳肋比_網頁_紅;
		}
		>ul.second>li>a:after, >ul.first>li>a:after{
			display: inline-block;
			margin-right:10px;
			position: relative;
			top:1px;
			left:-2px;
		}
		>ul.second>li>a:after, >ul.second>li>a.language:after{vertical-align:initial;}
	}
//	共用CSS樣式區
	article{
		padding:20px 0;
		margin-right:auto;
		margin-left:auto;
		.carteBox:nth-of-type(3n+2){margin:0 50px 65px;}
		.carteBox:nth-of-type(-n+3){margin-top:16px;}
	}
	.lightTextTitle{text-shadow:0 0 1px $媽咪佳肋比_桌機網頁_Title藍字陰影;}
	.whiteBackgroundGo, .redBackgroundGo, .blueBackgroundGo{
		@include animation(backgroundGo 350s infinite linear);
	}
	.whiteBackgroundGo{
		background-image: -webkit-radial-gradient(#fff 70%,#ededed 70%);
		background-image: -moz-radial-gradient(#fff 70%,#ededed 70%);
		background-image: radial-gradient(#fff 70%,#ededed 70%);
	}
	.redBackgroundGo{
		background-image: -webkit-radial-gradient($媽咪佳肋比_網頁_紅 70%,$媽咪佳肋比_網頁_signIn深紅 70%);
		background-image: -moz-radial-gradient($媽咪佳肋比_網頁_紅 70%,$媽咪佳肋比_網頁_signIn深紅 70%);
		background-image: radial-gradient($媽咪佳肋比_網頁_紅 70%,$媽咪佳肋比_網頁_signIn深紅 70%);
	}
	.blueBackgroundGo{
		background-image: -webkit-radial-gradient($媽咪佳肋比_網頁_藍 70%,$媽咪佳肋比_網頁_signOut深藍 70%);
		background-image: -moz-radial-gradient($媽咪佳肋比_網頁_藍 70%,$媽咪佳肋比_網頁_signOut深藍 70%);
		background-image: radial-gradient($媽咪佳肋比_網頁_藍 70%,$媽咪佳肋比_網頁_signOut深藍 70%);
	}
	@include keyframes(backgroundGo) {
		0%{background-position: 0px 0px;}  
		100%{background-position: 100% 100%;}  
	}
//	菜單article區、首頁index區
	#indexBannerSlideBox div[class^="indexBanner_"] h2{font-size:54px;}
	#indexBannerPage{
		bottom:25px;
		label{
			width:24px;
			height:24px;
			&:after{
				width:14px;
				height:14px;
			}
		}
	}
	#bannerContainer{
		padding-bottom:27.2135%;//24.7396%
		margin-top:95px;
	}
	#bannerControlPrev, #bannerControlNext{
		height:40px;
		border-width:55px 12px;
	}
	#bannerControlPrev{
		border-left-width:8px;
		&:before, &:after{border-width: 20px 15px 20px 0;}
	}
	#bannerControlNext{
		border-right-width:8px;
		&:before, &:after{border-width: 20px 0 20px 15px;}
	}
	#bannerSlideBox{
		>li.active{@include animation-duration(5s);}
		&:after{
			background-image:-webkit-radial-gradient(rgba(0,0,0,.12) 25%, transparent 25%);
			background-image:-moz-radial-gradient(rgba(0,0,0,.12) 25%, transparent 25%);
			background-image:radial-gradient(rgba(0,0,0,.12) 25%, transparent 25%);
		}

	}
	body.index article, #bannerSlideBox{
		&:after{background-size: 6px 6px;}
	}
	@include keyframes(articleBannerMove) {
		0% {background-position:45% 50%;}
		100% {background-position:55% 50%;}  
	}
	#bannerPagi{margin-bottom:10px;}
	.carteBox{
		width: 300px;
		height: 300px;
		.dishName{
			font-size:21px;
			min-width:185px;
		}
		.productBox{	
			line-height:34px;
			height:34px;
			min-width:240px;
			bottom:-20px;
			>p{
				font-size:18px;
				padding:0 11px;
				&:after{border-width: 8px;}
			}
			.packagePrice{margin-right: 10px;}
		}
	}
	article div.carteBox{margin:0 0 75px;}
//	活動activity區
	.activityBox{
		@include transition(box-shadow .6s);
		&:before{border-width:90px;}
		img{@include transition(transform .6s);}	
	}
//	預約reserve區
	.reserveBox, .reserveBox.click{
		img{width:49%;}
		.place{width: 49%;}
		.place #MAP{height:345px;}
		.tel a{width:136px;}
	}
//	活動內頁activityInpage區	
	.activityInPageBox{
		.small img{
			max-width:450px;
			max-height:450px;
		}
		.small+p{
			width:354px;
			display: inline-block;
			margin-left:18px;
		}
	}
//	會員登入&資訊LightBox 加 註冊登入頁面
	.memberInformationBox.inputBox{display:block;}
	.inputBox{
		background:#e8e8e8;
		display: inline-block;
	}
	#logIn, #logOut{
		ins{
			font-size:18px;
			display:inline-block;
		}
	}
	main{
		.signInPageBox, .signOutPageBox{padding:4%;}
	}
	.MKlabel{box-shadow:0px 0 0 #e8e8e8, -0px 0 0 #e8e8e8;}
	input[id^="MKmember"]:focus + .MKlabel, input[id^="MKmember"]:focus + .MKlabel, input[id^="MKmember"].click + .MKlabel{
		box-shadow: 15px 0 0 #e8e8e8, -15px 0 0 #e8e8e8;
	}
}
@include breakpoint(1025px){
	#indexBannerSlideBox div[class^="indexBanner_"] h2{font-size:64px;}
}
@include breakpoint(1280px){
  #goTop, #signIn {right:7%;}
}
@include breakpoint(1600px){
  #goTop, #signIn {right:12%;}
}
@include breakpoint(1920px){
  #goTop, #signIn {right:19%;}
}
html>/**/body nav ul.second li.fb a:after, x:-moz-any-link {line-height:50px;}
html>/**/body nav ul.second li.line a:after, x:-moz-any-link {line-height:50px}
html>/**/body #signIn a:after, x:-moz-any-link {line-height:80px;}
html>/**/body .reserveBox>div em:after, x:-moz-any-link {line-height:28px}
html>/**/body nav ul.second li.fb a:after, x:-moz-any-link, x:default {line-height:50px;}
html>/**/body nav ul.second li.line a:after, x:-moz-any-link, x:default {line-height:50px;}
html>/**/body #signIn a:after, x:-moz-any-link, x:default {line-height:80px;}
html>/**/body .reserveBox>div em:after, x:-moz-any-link, x:default {line-height:28px}
@-moz-document url-prefix() { 
	nav ul.second li.fb a:after, nav ul.second li.line a:after{line-height:50px;}
	#signIn a:after{line-height:80px;}
	nav>ul>li>a:after, .reserveBox>div em:after, .lightBoxLink:before{line-height:28px;}
}
