#goTop{
  width: 44px;
  height: 44px;
  border-radius:50%;
  background-color:$AE_red;
  box-sizing:border-box;
  box-shadow:0 1px 6px rgba(0,0,0,0.4);
  cursor:pointer;
  padding-top:14.5px;
  position:fixed;
  bottom:12px;
  right:12px;
  z-index:index($z-index, body);
  > span{
    width:12px;
    height:12px;
    display: block;
    border:1px solid #fff;
    border-bottom-style:none;
    border-right-style:none;
    margin:0 auto;
    transform:rotate(45deg);
    + span{margin-top:-6px;}
  }
}
#contact{
	color:#fff;
	background-color: #333;
	p{color:#999;}
}
#foot{
	color:rgba(255,255,255,0.5);
	background-color: #424242;
	box-sizing:border-box;
	box-shadow: 0 25px 0 #333 inset;
	padding-bottom: 20px;
}
.ae-logos > div{background-image:url("../../img/ae_footer_logo.png");}
@media screen and (min-width: 1366px) {
  #goTop{right:332px;}
  #contact {padding-right: 320px;}
  #foot{padding-right: 350px;}
}