//	頁首選單區
#nc3HsignIn, #nc3H{
  width:100%;
  height:110px;
  background-image:linear-gradient(180deg, $NC_藍 4%, #fff 4% , #fff 63.636363% , #4d4d4d 63.636363%);
  box-shadow:0 0 5px rgba(#000,.2);
}
.nc3HD{
  @extend %desktop-max-width;
  height:100%;
  position:relative;
  z-index:index($nc3Z-index,nc3HD);
  > h1{
    margin:0;
    position:absolute;
    top:13px;
    left:0;
    > a{
      color:#333;
      font-size: 21px;
      font-weight: normal;
      line-height:36px;
      display: flex;
      align-items:center;
      &:before{
        content:"";
        width: 26px;
        height: 24px;
        background-image:url("../../img/DotAb.svg");
        background-size: cover;
        margin-right: 4px;
      }
    }
    span{
      padding-top: 4px;
      transform: skew(-8deg);
    }
  }
  > ul{
    height:32px;
    position: absolute;
    margin:4px 0;
    &:after{@extend %after_clear_both}
    > li{
      float:left;
      > a, > label{
        line-height:32px;
        border-radius:4px;
        padding:0 10px;
      }
    }
    > .nc3UlInli{
      > a{border-radius:4px 4px 0 0;}
    }
    > li + li{border-left:1px solid rgba(255,255,255,.15);}
    ul{
      display: none;
      position:absolute;
      top:32px;
      left:0;
      box-shadow:0 1px 1px rgba(#000,0.5);
      a{
        line-height:40px;
        white-space:nowrap;
        padding: 0 26px;
      }
    }
  }
  a, label{color:#fff;}
  label{display: block;}
  >ul:first-of-type{
    background-color:$NC_藍;
    box-shadow:0 4px 0 $NC_藍, 0 -4px 0 $NC_藍;
    top:4px;
    right:0;
    &:before{
      @include beforeAfterArrowCssSet(20px 16px,$NC_藍 $NC_藍 transparent transparent){
        @extend %pos-abs;
      };
      top:-4px;
      left:-32px;
    }
    >li{
      &:hover{
        >a, >label{background-color:$NC_橙;}
      }
      strong{
        color:$NC_深灰;
        background-color:#fff;
        border-radius:20px;
        padding: 3px 7px;
        margin-left: 3px;
      }
      time{margin-right:5px;}
    }
    .nc3UlInli{
      &:hover{
        >a{background-color:$NC_橙;}
      }
      >ul{
        a:hover{color:$NC_橙;}
      }
    }
    ul{background-color:$NC_橙;}		
  }
  >ul:last-of-type{
    left:0;
    bottom:0;
    >li{
      &:hover{
        >a{background-color:$NC_藍;}
      }
    }
    .nc3UlInli{
      >ul{
        a:hover{color:$NC_藍;}
      }
    }
    ul{
      width:150px;
      background-color:$NC_藍;
    }
  }
}
.nc3UlInli{
  position:relative;
  &:hover{
    >ul{display: block;}
    >a{
      &:after{transform:rotate(-90deg);}
    }
  }
  >ul{
    a{
      box-shadow:0 -1px 0 rgba(#000,0.2) inset;
      &:hover{background-color:#fff;}
    }
    li:last-of-type{
      a{box-shadow:none;}
    }
  }
  >a{
    &:after{
      @include beforeAfterArrowCssSet(6px,transparent #fff transparent transparent);
      transition:transform .2s;
      transform-origin:80% 50%;
    }
  }
}
.nc3HD > ul:first-of-type .nc3LangIcon{line-height:1;}
.nc3LangIcon{
  &:before{
    @include beforeAfterIconFontSet("\e9c9","nc3Icomoon");
    color:#fff;
    font-size:26px;
    line-height:32px;
    position: relative;
    top:-1px;
  }
  &:after{
    line-height:32px;
    vertical-align: super;
  }
}
.nc3LangIcon+ul{margin-left:-61px;}
//	頁尾footer、marquee區
#nc3F{
  color:#fff;
  font-size: 16px;
  width: 100%;
  background-color:$NC_灰;
  overflow: hidden;
}
.nc3FWrap{
  @extend %desktop-max-width;
  >div{
    width: 25%;
    margin-bottom: 18px;
    float: left;
    li{line-height:2;}
  }
  >div:nth-of-type(n+2){padding-left:100px;}
  >div:nth-of-type(3){
    >ul{
      list-style-type:disc;
      margin-left:28px;
    }
  }
  h3{
    color:$NC_淺灰;
    font-weight:normal;
  }
  li a{
    color:#fff;
    display:inline;
    background-color:transparent;
    border-radius:3px;
    padding:3px 5px;
    transition:color .3s, background-color .3s;
    &:hover{
      color:$NC_灰;
      background-color:#fff;
    }
  }
  li[class$="Icon"]{
    &:before{
      margin:0 8px 0 6px;
      vertical-align:text-bottom;
    }
  }
  .logoIcon{
    &:before{@include beforeAfterIconFontSet("\e902","nc3Icomoon");}
  }
  .mailIcon{
    &:before{@include beforeAfterIconFontSet("\e945","nc3Icomoon");}
  }
  .skypeIcon{
    &:before{@include beforeAfterIconFontSet("\eac5","nc3Icomoon");}
  }
  .telIcon{
    &:before{@include beforeAfterIconFontSet("\e942","nc3Icomoon");}
  }
  .timeIcon{
    &:before{@include beforeAfterIconFontSet("\e94e","nc3Icomoon");}
  }
  .faxIcon{
    &:before{@include beforeAfterIconFontSet("\e954","nc3Icomoon");}
  }
  .facebookIcon{
    &:before{
      @include beforeAfterIconFontSet("\ea90","nc3Icomoon");
      background-color:$facebook藍;
    }
  }
  .twitterIcon{
    &:before{
      @include beforeAfterIconFontSet("\ea96","nc3Icomoon");
      background-color:$twitter藍;
    }
  }
  li.facebookIcon, li.twitterIcon{
    &:before{
      border-radius:2px;
      padding:5px;
      margin-left:0;
    }
  }
  .searchIcon{
    &:before{@include beforeAfterIconFontSet("\e986","nc3Icomoon");}
  }
}
//	goTop區
#nc3GoTop{
  -webkit-tap-highlight-color:rgba(#000,0);
  width:28px;
  height:22px;
  cursor:pointer;
  display:none;
  border-width:8px 6px 10px 6px;
  border-style:solid;
  border-color:$NC_透明黑;
  border-radius:3px;
  box-sizing: content-box;
  position:fixed;
  right:25px;
  bottom:25px;
  z-index:index($nc3Z-index, nc3GoTop);
  &:before, &:after{
    @extend %before-after-arrow-base-set;
    border-width:0 14px 11px 14px;
    display: block;
  }
  &:before{
    border-color: transparent $NC_透明黑 transparent $NC_透明黑;
  }
  &:after{
    border-color:transparent  transparent $NC_透明黑 transparent;
  }
}