@font-face {
	font-family:"nc3Icomoon";
	src:url("../nc3Fonts/icomoon.eot?weunha");
	src:url("../nc3Fonts/icomoon.eot?weunha#iefix") format("embedded-opentype"),
      url("../nc3Fonts/icomoon.ttf?weunha") format("truetype"),
      url("../nc3Fonts/icomoon.woff?weunha") format("woff"),
      url("../nc3Fonts/icomoon.svg?weunha#icomoon") format("svg");
	font-weight:normal;
	font-style:normal;
}
@keyframes nc3SearchBarReady{
  0%, 10%{width:0%;}
  100% {width:100%;}
}
.NC3ui, .NC3uiBg{
	color:$NC_深灰;
	font-size:16px;
	font-family:"Helvetica Neue",Helvetica,Arial,"微軟正黑體","微软雅黑","メイリオ","맑은 고딕",sans-serif;
	letter-spacing:1px;
	height:100%;
	background-color:#fff;
	position:relative;
}
//	indexBanner
	#IPBNbox{
		@extend %desktop-max-width;
		background-color:$NC_淡灰;
		margin-top:40px;
		overflow:hidden;
		position:relative;
		box-shadow:	0 1px 1px rgba(0, 0, 0, 0.2),
					0 8px 0 -3px $NC_淡灰,
					0 9px 1px -3px rgba(0, 0, 0, 0.2),
					0 16px 0 -6px $NC_淡灰,
					0 17px 2px -6px rgba(0, 0, 0, 0.2),
					0 2px 4px 0 rgba(0, 0, 0, 0.2),
					0 18px 36px 0 rgba(0, 0, 0, 0.1);
		input{@extend %ctrl-input-hide;}
		.IPBNprev, .IPBNnext{
			@include bannerArrowIconOutsideSet(32px, 50px, $NC_灰);
		}
		.IPBNprev{
			border-radius:0 3px 3px 0;
			left:0;
			&:before{
				@include bannerArrowIconBeforeAfterSet(12px 13px 12px 0, $NC_灰 #fff $NC_灰 transparent){
					margin-left:-2px;
				}
			}
			&:after{
				@include bannerArrowIconBeforeAfterSet(12px 13px 12px 0, transparent $NC_灰 transparent transparent);
			}
		}
		.IPBNnext{
			border-radius:3px 0 0 3px;
			right:0;
			&:before{
				@include bannerArrowIconBeforeAfterSet(12px 0 12px 13px, $NC_灰 transparent $NC_灰 #fff){
					margin-left:2px;
				}
			}
			&:after{
				@include bannerArrowIconBeforeAfterSet(12px 0 12px 13px, transparent transparent transparent $NC_灰);
			}
		}
	}
	.IPBNslideBox{
		width:1000%;
		transition:transform .5s;
		&:after{
			@extend %after_clear_both;
		}
		>li{
			width:10%;
			float:left;
			padding:30px 52px 48px;
			position:relative;
		}
		h2, span{color:$NC_橙;}
		h2{
			transform:skew(-6deg);
			font-size:52px;
			text-shadow:0 1px 0 hsl(30.5,84.5%,44.3%),
						0 2px 0 hsl(30.5,84.5%,41.3%),
						0 3px 6px hsla(30.5,84.5%,35.3%,.6);
			margin:0 0 30px;
		}
		p{
			color:$NC_深灰;
			font-size: 18px;
		}
	}
	%IPBNpage_label_after{transform:translate(-50%,-50%) scale(1);}
	@for $i from 0 through 9 {
		// #IPBNctrl_#{$i}:checked ~ .IPBNslideBox{transform:translateX($i * -10%);}
		// #IPBNctrl_#{$i}:checked ~ .IPBNpage > label:nth-child(#{$i + 1}):after{
		// 	@extend %IPBNpage_label_after;
		// }
		#IPBNctrl_#{$i}:checked{
			~ .IPBNslideBox{transform:translateX($i * -10%);}
			~ .IPBNpage > label:nth-child(#{$i + 1}):after{@extend %IPBNpage_label_after;}
		}
	}
	li[id^="IPBN_"]{
		>a:first-of-type{display:inline-block;}
		>a:last-of-type{
			color:#fff;
			background-color:$NC_橙;
			padding:8px;
			border-radius:3px;
			box-shadow:0 1px 2px rgba(0,0,0,.5);
			position:absolute;
			right:52px;
			bottom:48px;
			transition:box-shadow .4s, transform .4s;
			&:hover{
				box-shadow:0px 26px 20px -12px rgba(0,0,0,.5);
				transform:translateY(-6px);
			}
		}
	}
	.IPBNpage{
		font-size: 0;
		position:absolute;
		left:52px;
		bottom:24px;
		label{
			width:18px;
			height:18px;
			background-color:rgba(0,0,0,0.12);
			display: inline-block;
			border-radius:50%;
			cursor: pointer;
			position: relative;
			&:after{
				content:"";
				width: 100%;
				height: 100%;
				background-color:$NC_橙;
				border-radius:50%;
				position:absolute;
				top:50%;
				left:50%;
				transition:transform  .6s;
				transform:translate(-50%, -50%) scale(0);
			}
			&:hover:after{transform:translate(-50%, -50%) scale(1);}
		}
		label + label{margin-left:12px;}
	}
//	域名查詢
	#nc3SearchBar{
		width: 1000px;
		font-size:0;
		text-align: center;
		height:60px;
		border-radius:3px;
		box-shadow:0 0 0 1px rgba(0,0,0,.15);
		padding:10px;
		margin:56px auto 0;
		&:before{
			content:"www.";
			color:$NC_藍;
			font-size:36px;
			text-align: left;
			line-height:1;
			display: inline-block;
			width:150px;
			height:40px;
		}
		>span{
			vertical-align:top;
			width:450px;
			height:40px;
			display: inline-block;
			margin-right:60px;
			position: relative;
			&:after{
				content:"";
				height:1px;
				background-color:$NC_input灰;
				position:absolute;
				left:0;
				bottom:0;
				animation:nc3SearchBarReady 5.5s linear infinite both;
			}
		}
		#nc3SearchInput{
			color:#333;
			font-size:18px;
			font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
			letter-spacing:1px;
			background-color:transparent;
			width: 100%;
			height: 100%;
			@include inputPlaceholderCssSet{
				color:$NC_input灰;
				font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
			}
		}
		>#search{
			text-indent:25px;
			background-color:$NC_藍;
			&:before{
				@include beforeAfterIconFontSet("\e986","nc3Icomoon");
				text-indent:0;
				position: absolute;
				top:12px;
				left:15px;
			}
		}
		>button{
			color:#fff;
			font-size:18px;
			font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
			white-space:nowrap;
			vertical-align:top;
			height:40px;
			border-radius:3px;
			box-shadow:0 2px 4px rgba(0,0,0,0.2), 0 2px 8px rgba(0,0,0,0.1);
			padding:0 15px;
			position:relative;
			transition:box-shadow .3s, text-shadow .3s;
			&:hover{
				text-shadow:0 0 1px rgba(255,255,255,.5);
				box-shadow:0 2px 5px rgba(0,0,0,0.5), 0 2px 12px rgba(0,0,0,0.3), 0 -1px 0 rgba(255,255,255,0.25) inset;
			}
		}
		>button + button{
			margin-left:25px;
			background-color:$NC_灰;
		}
	}
	
//	域名目錄選單區
	#nc3List{
		@extend %desktop-max-width;
		white-space:nowrap;
		height:560px;
		border-top:3px solid $NC_藍;
		border-bottom:3px solid $NC_藍;
		overflow:hidden;
		margin-top:40px;
		position: relative;
		>input{@extend %ctrl-input-hide;}
	}
	#nc3ListZone{
		width:140px;
		height:100%;
		background-color:$NC_淡灰;
		float:left;
		>label{@extend %nc3_label;}
	}
	#nc3ListZoneContent{
		height:100%;
		margin-left:140px;
	}
	%nc3_label{
		color:$NC_藍;
		font-size:18px;
		line-height:50px;
		cursor:pointer;
		height:50px;
		display:block;
		padding:0 10px;
	}
	%nc3ZoneIcontent{
		height:100%;
		display:none;
		position:relative;
	}
	%nc3ZoneItype{
		width:185px;
		height:100%;
		background-color:$NC_淡灰;
		float:left;
		overflow:auto;
	}
	%nc3ZoneItypeContent{
		text-align:center;
		height:100%;
		background-color:$NC_藍;
		margin-left: 185px;
	}
	%nc3ZoneItypeContentDiv{
		height:100%;
		display:none;
		padding:10px 0;
		overflow-x:hidden;
		overflow-y:auto;
	}
	%nc3ZoneContentLabel{
		color:#fff;
		background-color:$NC_藍;
	}
	%nc3ZoneCheckedZoneContent{display:block;}
	@for $i from 1 through 7{
		#nc3Zone#{$i}Content{
			@extend %nc3ZoneIcontent;
			>input{@extend %ctrl-input-hide;}
		}
		#nc3Zone#{$i}Type{
			@extend %nc3ZoneItype;
			>label{@extend %nc3_label;}
		}
		#nc3Zone#{$i}Ctrl:checked ~ #nc3ListZone > label:nth-of-type(#{$i}){
			@extend %nc3ZoneContentLabel;
		}
		#nc3Zone#{$i}TypeContent{
			@extend %nc3ZoneItypeContent;
			>div{
				@extend %nc3ZoneItypeContentDiv;
			}
		}
		#nc3Zone#{$i}Ctrl:checked ~ #nc3ListZoneContent > #nc3Zone#{$i}Content{@extend %nc3ZoneCheckedZoneContent;}
		@for $j from 1 through 21{
			#nc3Zone#{$i}Type#{$j}:checked ~ #nc3Zone#{$i}Type > label:nth-of-type(#{$j}){
				@extend %nc3ZoneContentLabel;
			}
			#nc3Zone#{$i}Type#{$j}:checked ~ #nc3Zone#{$i}TypeContent > #nc3Zone#{$i}Type#{$j}Content{@extend %nc3ZoneCheckedZoneContent;}
		}
	}
	#nc3Zone2Ctrl:checked ~ #nc3ListZone > label:nth-of-type(1),
	#nc3Zone3Ctrl:checked ~ #nc3ListZone > label:nth-of-type(1),#nc3Zone3Ctrl:checked ~ #nc3ListZone > label:nth-of-type(2),
	#nc3Zone4Ctrl:checked ~ #nc3ListZone > label:nth-of-type(1),#nc3Zone4Ctrl:checked ~ #nc3ListZone > label:nth-of-type(2),#nc3Zone4Ctrl:checked ~ #nc3ListZone > label:nth-of-type(3),
	#nc3Zone5Ctrl:checked ~ #nc3ListZone > label:nth-of-type(1),#nc3Zone5Ctrl:checked ~ #nc3ListZone > label:nth-of-type(2),#nc3Zone5Ctrl:checked ~ #nc3ListZone > label:nth-of-type(3),#nc3Zone5Ctrl:checked ~ #nc3ListZone > label:nth-of-type(4),
	#nc3Zone6Ctrl:checked ~ #nc3ListZone > label:nth-of-type(1),#nc3Zone6Ctrl:checked ~ #nc3ListZone > label:nth-of-type(2),#nc3Zone6Ctrl:checked ~ #nc3ListZone > label:nth-of-type(3),#nc3Zone6Ctrl:checked ~ #nc3ListZone > label:nth-of-type(4),#nc3Zone6Ctrl:checked ~ #nc3ListZone > label:nth-of-type(5),
	#nc3Zone7Ctrl:checked ~ #nc3ListZone > label:nth-of-type(1),#nc3Zone7Ctrl:checked ~ #nc3ListZone > label:nth-of-type(2),#nc3Zone7Ctrl:checked ~ #nc3ListZone > label:nth-of-type(3),#nc3Zone7Ctrl:checked ~ #nc3ListZone > label:nth-of-type(4),#nc3Zone7Ctrl:checked ~ #nc3ListZone > label:nth-of-type(5),#nc3Zone7Ctrl:checked ~ #nc3ListZone > label:nth-of-type(6),
	//#nc3Zone1 & 2Type2到21:checked ~ #nc3Zone1Type > label:nth-of-type(1到21)
		#nc3Zone1Type2:checked ~ #nc3Zone1Type > label:nth-of-type(1), 
		#nc3Zone1Type3:checked ~ #nc3Zone1Type > label:nth-of-type(1),#nc3Zone1Type3:checked ~ #nc3Zone1Type > label:nth-of-type(2),
		#nc3Zone1Type4:checked ~ #nc3Zone1Type > label:nth-of-type(1),#nc3Zone1Type4:checked ~ #nc3Zone1Type > label:nth-of-type(2),#nc3Zone1Type4:checked ~ #nc3Zone1Type > label:nth-of-type(3),
	//#nc3Zone5 & 6Type2到25:checked ~ #nc3Zone2到10Type > label:nth-of-type(1到25)
		#nc3Zone5Type2:checked ~ #nc3Zone5Type > label:nth-of-type(1), 
		#nc3Zone5Type3:checked ~ #nc3Zone5Type > label:nth-of-type(1),#nc3Zone5Type3:checked ~ #nc3Zone5Type > label:nth-of-type(2),
		#nc3Zone5Type4:checked ~ #nc3Zone5Type > label:nth-of-type(1),#nc3Zone5Type4:checked ~ #nc3Zone5Type > label:nth-of-type(2),#nc3Zone5Type4:checked ~ #nc3Zone5Type > label:nth-of-type(3),
		#nc3Zone5Type5:checked ~ #nc3Zone5Type > label:nth-of-type(1),#nc3Zone5Type5:checked ~ #nc3Zone5Type > label:nth-of-type(2),#nc3Zone5Type5:checked ~ #nc3Zone5Type > label:nth-of-type(3),#nc3Zone5Type5:checked ~ #nc3Zone5Type > label:nth-of-type(4),
		#nc3Zone6Type2:checked ~ #nc3Zone6Type > label:nth-of-type(1), 
		#nc3Zone6Type3:checked ~ #nc3Zone6Type > label:nth-of-type(1),#nc3Zone6Type3:checked ~ #nc3Zone6Type > label:nth-of-type(2),
		#nc3Zone6Type4:checked ~ #nc3Zone6Type > label:nth-of-type(1),#nc3Zone6Type4:checked ~ #nc3Zone6Type > label:nth-of-type(2),#nc3Zone6Type4:checked ~ #nc3Zone6Type > label:nth-of-type(3),
		#nc3Zone6Type5:checked ~ #nc3Zone6Type > label:nth-of-type(1),#nc3Zone6Type5:checked ~ #nc3Zone6Type > label:nth-of-type(2),#nc3Zone6Type5:checked ~ #nc3Zone6Type > label:nth-of-type(3),#nc3Zone6Type5:checked ~ #nc3Zone6Type > label:nth-of-type(4)
		{
			box-shadow: 3px 0 0 $NC_藍 inset;
			background-color:rgba($NC_藍, .2);	
		}
	//#nc3Zone7 & 8Type2到25:checked ~ #zone2到10Type > label:nth-of-type(1到25)
		#nc3Zone7Type2:checked ~ #nc3Zone7Type > label:nth-of-type(1), 
		#nc3Zone7Type3:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type3:checked ~ #nc3Zone7Type > label:nth-of-type(2),
		#nc3Zone7Type4:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type4:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type4:checked ~ #nc3Zone7Type > label:nth-of-type(3),
		#nc3Zone7Type5:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type5:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type5:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type5:checked ~ #nc3Zone7Type > label:nth-of-type(4),
		#nc3Zone7Type6:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type6:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type6:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type6:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type6:checked ~ #nc3Zone7Type > label:nth-of-type(5),
		#nc3Zone7Type7:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type7:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type7:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type7:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type7:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type7:checked ~ #nc3Zone7Type > label:nth-of-type(6),
		#nc3Zone7Type8:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type8:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type8:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type8:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type8:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type8:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type8:checked ~ #nc3Zone7Type > label:nth-of-type(7),
		#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type9:checked ~ #nc3Zone7Type > label:nth-of-type(8),
		#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type10:checked ~ #nc3Zone7Type > label:nth-of-type(9),
		#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type11:checked ~ #nc3Zone7Type > label:nth-of-type(10),
		#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type12:checked ~ #nc3Zone7Type > label:nth-of-type(11),
		#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type13:checked ~ #nc3Zone7Type > label:nth-of-type(12),
		#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(12),#nc3Zone7Type14:checked ~ #nc3Zone7Type > label:nth-of-type(13),
		#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(12),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(13),#nc3Zone7Type15:checked ~ #nc3Zone7Type > label:nth-of-type(14),
		#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(12),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(13),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(14),#nc3Zone7Type16:checked ~ #nc3Zone7Type > label:nth-of-type(15),
		#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(12),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(13),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(14),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(15),#nc3Zone7Type17:checked ~ #nc3Zone7Type > label:nth-of-type(16),
		#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(12),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(13),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(14),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(15),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(16),#nc3Zone7Type18:checked ~ #nc3Zone7Type > label:nth-of-type(17),
		#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(12),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(13),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(14),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(15),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(16),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(17),#nc3Zone7Type19:checked ~ #nc3Zone7Type > label:nth-of-type(18),
		#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(1),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(2),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(3),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(4),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(5),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(6),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(7),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(8),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(9),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(10),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(11),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(12),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(13),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(14),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(15),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(16),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(17),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(18),#nc3Zone7Type20:checked ~ #nc3Zone7Type > label:nth-of-type(19)
		{
			box-shadow: 3px 0 0 $NC_藍 inset;
			background-color:rgba($NC_藍, .2);	
		}
//	區-類內容的checkbox
	.nc3suffixLabel{
		font-size:0;
		width:20%;
		height:60px;
		float:left;
		overflow:hidden;
		position:relative;
		>input{
			position:absolute;
			top:-20px;
			left:-20px;
		}
		>label{
			color:#fff;
			font-size:16px;
			text-align:center;
			line-height:36px;
			vertical-align:middle;
			cursor:pointer;
			width:120px;
			display:inline-block;
			box-shadow:0 0 0 2px #fff inset;
			border-radius:20px;
			margin:10px 33px 10px 0;
			transition:box-shadow .2s, color .2s;
			&:before{content:".";}
		}
		>.small{font-size: 14px;}
		>input:checked + label{
			color:$NC_藍;
			box-shadow:0 0 0 20px #fff inset;
		}
	}
	.nc3quMessage{
		text-decoration:none;
		vertical-align:middle;
		width:25px;
		height:25px;
		display: inline-block;
		cursor:pointer;
		margin-left:-25px;
		&:after{
			@include beforeAfterIconFontSet("\e905","nc3Icomoon");
			color:#fff;
			font-size:25px;
		}
		&:hover, &:focus{
			&:after{color:$NC_橙;}
		}
	}
//	域名查詢結果
	#nc3searchResult{
		display: none;
		padding-bottom:30px;
		position: relative;
	}
// .searchResultWrap{
	// 	@extend %最大寬度設定;
	// 	background-color:#fff;
	// 	position: relative;
	// 	>p{
	// 		color:$NC_藍;
	// 		line-height:40px;
	// 		border-bottom:2px solid $NC_藍;
	// 		padding-top:5px;
	// 		margin:0 20px;
	// 		&:before{
	// 			@include beforeAfterIconFontSet("\e909","nc3Icomoon");
	// 			font-size:24px;
	// 			vertical-align:text-bottom;
	// 			margin-right:8px;
	// 		}
	// 	}
	// 	em{font-style: normal;}
	// }
	// .searchResultBox{
	// 	overflow: hidden;
	// 	>li{
	// 		color:$NC_灰;
	// 		line-height:50px;
	// 		box-shadow: 0 -1px 0 #ccc inset;
	// 		padding:0 20px;
	// 		overflow: hidden;
	// 	}
	// 	>li:nth-of-type(even){background-color:#fafafa;}
	// }
	// .domainName{
	// 	@extend %文字超過變點點;
	// 	width:40%;
	// }
	// .half{
	// 	>.domainName{
	// 		width:calc(100% - 74px);
	// 		float: left;
	// 	}
	// }
	// .priceAndAction, .half{
	// 	overflow:hidden;
	// 	>button{
	// 		@extend %iconFont基本設定;
	// 		text-align: center;
	// 		width:50px;
	// 		border-radius:4px;
	// 		float:right;
	// 		&:before{
	// 			font-size:24px;
	// 			display: inline-block;
	// 		}
	// 	}
	// 	>a{float:right;}
	// }
	// .yearPrice{
	// 	float:left;
	// 	>ins{text-decoration:none;}
	// 	>.contactBuy, >.specialPrice{color:$NC_紅;}
	// 	>.noPrice{text-decoration: line-through;}
	// 	>.originPrice{display: none;}
	// 	>.specialPrice:after{
	// 		color:$NC_灰;
	// 		content:" / 1年";
	// 	}
	// 	>.twoYears:after{content:" / 2年";}
	// }
	// .addToCart{
	// 	background-color:$NC_藍;
	// 	height:37px;
	// 	box-sizing:content-box;
	// 	// box-shadow:0 0 0 1px rgba(0,0,0,.2) inset, 0 2px 0 rgba(255,255,255,.05) inset, 0 2px 1px $NC_淡藍 inset, 0 -3px 0 $NC_深藍 inset, 0 2px 4px 2px rgba(0,0,0,.1);
	// 	padding:0 0 3px 0;
	// 	margin:5px 0;
	// 	transition:padding-bottom .3s, margin-top .3s, box-shadow .3s;
	// 	&:before{
	// 		content:"\e90a";
	// 		color:#fff;
	// 		line-height:38px;
	// 	}
	// 	&:active{
	// 		// box-shadow:0 0 0 1px rgba(0,0,0,.2) inset, 0 2px 0 rgba(255,255,255,.05) inset, 0 2px 1px $NC_淡藍 inset, 0 0 0 $NC_深藍 inset, 0 2px 4px 2px rgba(0,0,0,.05);
	// 		padding-bottom:0;
	// 		margin-top:8px;
	// 	}
	// }
	// .actionRemove{
	// 	height:40px;
	// 	background-color:#dedede;
	// 	margin:5px 0;
	// 	&:before{
	// 		content:"\e90b";
	// 		// color:$NC_icon灰;
	// 		line-height:40px;
	// 	}
	// }
	// a.contactBuy, .contactBuyBtn, a.noPrice, .noPriceBtn{
	// 	&:before{
	// 		@extend %iconFont基本設定;
	// 		line-height:1;
	// 		vertical-align:sub;
	// 		margin-right:6px;
	// 	}
	// }
	// a.contactBuy, .contactBuyBtn{
	// 	color:$NC_橙;
	// 	&:before{
	// 		content:"\e907";
	// 		color:#fff;
	// 		font-size:20px;
	// 		border-radius:4px;
	// 		background-color:$NC_橙;
	// 		padding:4px;
	// 	}
	// }
	// a.noPrice, .noPriceBtn{
	// 	color:$NC_灰;
	// 	&:before{
	// 		content:"\e906";
	// 		font-size:28px;
	// 	}
	// }
	// .contactBuyBtn, .noPriceBtn{
	// 	>span{display: none;}
	// }
	// .inalized{
	// 	text-align: center;
	// 	height: 70px;
	// 	background-color:#fff;
	// 	>a{
	// 		color:#fff;
	// 		line-height:37px;
	// 		vertical-align:middle;
	// 		display: inline-block;
	// 		// @include BntCssBaseSet($NC_橙,4px,(0 0 0 1px rgba(0,0,0,.2) inset,0 2px 0 rgba(255,255,255,.05) inset,0 2px 1px $NC_淡橙 inset,0 -4px 0 $NC_深橙 inset,0 2px 4px 2px rgba(0,0,0,.1)),0 15px 3px 15px,15px 0);
	// 		&:active, &:focus{
	// 			// @include 按鈕按下時CSS設定預設值((0 0 0 1px rgba(0,0,0,.2) inset, 0 2px 0 rgba(255,255,255,.05) inset, 0 2px 1px $NC_淡橙 inset, 0 0 0 $NC_深橙 inset, 0 2px 4px 2px rgba(0,0,0,.05)),18px);
	// 		}
	// 	}
	// }
	// #checkOut{
	// 	margin-left:20px;
	// 	&:before{
	// 		@include beforeAfterIconFontSet("\e903","nc3Icomoon");
	// 		font-size:28px;
	// 		line-height:0.9;
	// 		margin-right:6px;
	// 		position: relative;
	// 		top:5px;
	// 	}
	// 	>strong{
	// 		color:$NC_橙;
	// 		background-color:#fff;
	// 		border-radius:15px;
	// 		padding:1px 3px;
	// 		margin-right:6px;
	// 	}
	// 	>span{display: none;}
	// }
//	四個廣告區
	.nc3Main{
		@extend %desktop-max-width;
		> marquee{
			@extend %desktop-max-width;
			display: block;
			padding-bottom:50px;
		}
	}
	.nc3Active{
		font-size:0;
		letter-spacing:-0.25em;
		word-spacing:-0.25em;
		> figure{
			font-size:18px;
			letter-spacing:0;
			word-spacing:0;
			text-align:center;
			width:25%;
			display: inline-block;
			margin:40px 0;
			padding:25px 0;
			&:hover{background-color:#ededed;}
		}
		figcaption{
			color:$NC_藍;
			font-size:24px;
			font-weight:bold;
			transform:skew(-6deg);
		}
		p{color:$NC_深灰;}
	}
//	lightBox 登入+loading
	#nc3lightBoxClose, #nc3lightBoxOpen{@extend %ctrl-input-hide;}
	#nc3lightBoxClose:checked ~ #nc3memberLogIn{display: none;}
	#nc3lightBoxOpen:checked ~ #nc3memberLogIn{display: block;}
	#nc3memberLogIn{
		width: 100%;
		height: 100%;
		background-color:$NC_透明黑;
		position: fixed;
		top:0;
		left:0;
		z-index:index($nc3Z-index, lightBox);
		> .nc3LogInBox{
			text-align: center;
			width:500px;
			height:600px;
			background-color:#fff;
			border-top:4px solid $NC_橙;
			border-bottom:4px solid $NC_橙;
			box-shadow:0 0 10px $NC_透明黑;
			padding:20px 0;
			margin:auto;
			position:absolute;
			top:0;
			right:0;
			left:0;
			bottom:0;
			&:before{
				@include tagBeforeAfterSvgBgImgSet(198px,70px,"../images/NC3/nc-logo.svg");
				display:inline-block;
			}
		}
	}
	.nc3LogInBox{
		> h3{
			color:$NC_灰;
			font-size:2em;
			margin:.5em 0;
			transform:skew(-6deg);
		}
		> .XbackPage{
			&:after{@include beforeAfterIconFontSet("\ea0d","nc3Icomoon");}
			color:$NC_灰;
			font-size:40px;
			position:absolute;
			top:12px;
			right:12px;
			transition:color .4s;
			&:hover{color:$NC_藍;}
		}
	}
	#nc3LogIn{
		width:380px;
		margin:0 auto;
		> .inputBox{text-align:left;}
		label, ins{display:block;}
		label{
			width:50%;
			margin:1.6em 10px .4em;
		}
		input, > .LogInBtn, > .NC2LogInBtn{
			padding:10px;
			border-radius: 3px;
		}
		input{
			@include inputPlaceholderCssSet{
				color:#fff;
				font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
				transition:color .4s;
			}
			width:100%;
			background-color:$NC_淺灰;
			transition:background-color .4s;
			&:focus{
				background-color:$NC_淡灰;
				box-shadow:0 0 0 1px $NC_淺灰;
				@include inputPlaceholderCssSet{color:$NC_灰;}
			}
		}
		ins{
			color:$NC_紅;
			text-align: center;
			text-decoration:none;
			margin:1em 0;
			&:after, &:before{content:"*";}
		}
		> .LogInBtn, > .NC2LogInBtn{
			color:#fff;
			transition:box-shadow .4s cubic-bezier(0.5, -0.5, 0.5, 1.5), transform .4s cubic-bezier(0.5, -0.5, 0.5, 1.5);
		}
		> .LogInBtn{
			background-color:$NC_橙;
			box-shadow:0px 3px 0px 0px #d4710f;
			margin-top:1em;
			&:hover{
				box-shadow:0px 30px 25px -14px #d4710f;
				transform:translateY(-8px);
			}
			+ p{
				padding:1em 0;
				margin:0;
			}
		}
		> .NC2LogInBtn{
			background-color:$NC_藍;
			box-shadow:0px 3px 0px 0px #164b87;
			position: relative;
			&:hover{
				box-shadow:0px 30px 25px -14px #164b87;
				transform:translateY(-8px);
			}
			&:before{
				@include beforeAfterIconFontSet("\e902","nc3Icomoon");
				color:$NC_藍;
				font-size:20px;
				background-color:#fff;
				border-radius:3px;
				padding:4px;
				position:absolute;
				top:5px;
				left:5px;
			}
		}
		> .inlineA{
			color:$NC_藍;
			font-weight: bold;
			padding:1em 0;
			&:hover{text-decoration:underline;}
		}
		> p:last-of-type{
			>a{
				display:inline;
				margin-left:10px;
			}
		}
	}