// NC網頁設計變數
$facebook藍:#3b5998;
$twitter藍:#1c94e0;
$line綠:#00b900;
$youtube紅:#ff0000;

$NCA_淡藍:#37d7f0;
$NCA_藍:#009fb7;
$NCA_深藍:#0d7585;
// $NCA_首頁大標深藍:#077485;
// $NCA_searchBar深藍:#055e6b;
$NCA_淡橙:#ffbb73;
$NCA_橙:#ffa94c;
$NCA_深橙:#e58d2e;
// $NCA_深深橙:#cc7314;
$NCA_紅:#ff005c; 
$NCA_淡灰:#f7f7f7;		//W-97%
$NC_淺灰:#cccccc;		//W-80%
$NCA_input灰:#b3b3b3;	//W-70%
$NCA_icon灰:#7a7a7a;	//W-48%
$NCA_灰:#666;			//W-40%
$NC_灰:#4d4d4d;			//W-30%
$NCA_透明白:rgba(#fff,.4); 
$NCA_透明黑:rgba(#000,.8);
$NCA_桌機版_灰字陰影:rgba(#666,.3);
$NCA_桌機版_藍字陰影:rgba(#009fb7,.3);
$NCA_桌機版_橙字陰影:rgba(#ffa94c,.3);