// NC網頁設計變數
$facebook藍:#3b5998;
$twitter藍:#1c94e0;
$NC_藍:#2961a0; 
$NC_橙:#ed8c28;
$NC_紅:#c4260d; 
$NC_淡灰:#f6f6f6;		//W-96%
$NC_淺灰:#cccccc;		//W-80%
$NC_input灰:#b3b3b3;	//W-70%
$NC_灰:#4d4d4d;			//W-30%
$NC_深灰:#333333;		//W-20%
$NC_透明白:rgba(#fff, .4);
$NC_透明黑:rgba(#000, .75);
$nc3Z-index:nc3HD, nc3GoTop, lightBox; //最後面最大