#goToTop {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $aeLottery-textPurple;
	box-sizing: border-box;
	cursor: pointer;
	padding-top: 12.5px;
	padding-top: 2px;
	padding-top: 21px;
	padding-top: 10px;
	padding-top: 11px;
	position: fixed;
	right: 7px;
	bottom: 7px;
	z-index: 1;
	> span {
		width: 2px;
		height: 2px;
		display: block;
		margin: 0 auto;
		position: relative;
		&:before, &:after{
			content:"";
			width: 14px;
			height: 2px;
			background-color: #fff;
			border-radius: 2px;
			position:absolute;
			top:0;
		}
		&:before{
			left:0;
			transform:rotate(45deg);
			transform-origin: 23% 0%;
		}
		&:after{
			right:0;
			transform:rotate(-45deg);
			transform-origin: 77% 0%;
		}
		+ span {margin-top: 5.5px;}
  }
}
#contact, #foot {
	@extend %blueBackgroundGradient;
}
#contact{
	h3{
		color:$aeLottery-yellow;
		// text-align:left;
		margin-top: 0;
	}
	p{color:#fff;}
}
.contact-marketers{color:$aeLottery-yellow;}
.ae-logos > div{background-image:url("../../img/ae_footer_logo.png");}
@media screen and (min-width: 1024px) {
	#goToTop {
		right: 30px;
		bottom: 12px;
	}
	#contact{
		h3{
			font-size: 30px;
			text-align:left;
		}
		p{font-size: 20px;}
	}
}
@media screen and (min-width: 1440px) {
		#goToTop {right: calc(50% - 690px);}
}